@charset "utf-8";
@import url("reset.css");
@import url("jquery-ui.css");



/* ==========================================================================
   POPUP Wrap Start
========================================================================== */

.pWrap {margin;0 auto;}
.pWrap h1 {padding:25px 0 25px 20px;border-top:7px solid #4f7eb2; border-bottom:1px solid #f3f3f3;}
.pContent {padding:15px 0 25px 20px; width:640px;}
.pBtn_Search {border:1px solid #b7b7b7; text-align:center; font-size:1em; background:#f7f7f7; padding:2px 13px 2px; font-weight:bold; color:#666666;
			-moz-box-shadow: 0 1px 1px #dadada;
			-webkit-box-shadow: 0 1px 1px#dadada;
			box-shadow: 0 1px 1px #dadada;
			text-shadow:0 0 1px #fff;
			-webkit-border-radius:2px;
			-moz-border-radius:2px;
			border-radius:2px;
}
.pContent .pSearch_list {float:right;}


.pTableWrap  {position:relative; width:640px; padding:0 0 0 20px;}
.pTableTop  {position:relative; width:640px; border-top:3px solid #9d9d9d;}
.pTableContent {position:relative; width:640px; height:140px; overflow-y:auto; overflow-x:hidden; border-bottom:1px solid #e1e2e4;}
.pTableTitle {width:640px; table-layout:fixed;height:24px;}
.pTableTitle th {border-bottom:1px solid #a1a1a1; background:#cbcbca url('../images/common/th_bg.gif') no-repeat right; padding:2px 0 2px;}  
.pTableTitle th:first-child {border-left:1px solid #a1a1a1;}
.pTableTitle th.last {border-right:1px solid #a1a1a1; padding-right:0; background:#cbcbca;}
.pTable {width:625px; table-layout:fixed;}
.pTable tr {height:27px;}
.pTable td {border-bottom:1px solid #e1e2e4; text-align:center; padding:5px 0; background:url('../images/common/td_bg.gif') repeat-y right; font-size:11px;}
.pTable td.list_right {border-bottom:1px solid #e1e2e4; text-align:right; padding:2px 5px 2px; background:url('../images/common/td_bg.gif') repeat-y right; font-size:11px;}
.pTable td.list_left {border-bottom:1px solid #e1e2e4; text-align:left; padding:2px 5px 2px; background:url('../images/common/td_bg.gif') repeat-y right; font-size:11px;}
.pTable td.last {background:none; border-right:1px solid #e1e2e4;}
.pTable td:first-child {border-left:1px solid #e1e2e4;}

.pSumWrap {margin-top:10px; padding:0 0 0 20px;}
.pSumTable {background:#f6f6f6;width:640px; height:30px; border:1px solid #e1e2e4;}
.pSumTable td{background:#f6f6f6 url('../images/common/ico_arrow.gif') no-repeat 12px 13px; border: 1px solid #e1e2e4; padding: 10px 0 9px 24px;}
.pSumTable p{display:inline; color:#719600;}

.pInputWrap {margin-top:10px; padding:0 0 0 20px; width:640px;}
.pInputTable {width:640px; border:1px solid #e1e2e4;}
.pInputTable td{padding: 10px 0 0 10px;}
.pInputTable td.middle {padding:8px 0 0px 10px;}
.pInputTable td.last {padding: 8px 0 9px 10px;}
.pInputTable p{display:inline-block; font-weight:bold;}

.pBtnWrap {padding:10px 20px 0;}
.pBtnWrap a {float:left; font-size:11px; border:1px solid #bababa; text-align:center; width:49%; background:#ebebeb url('../images/popup/btm_btn_bg.gif') repeat-x 0 1px; padding:8px 0 7px; font-weight:bold; color:#535353;
			-moz-box-shadow: 0 1px 2px #dadada;
			-webkit-box-shadow: 0 1px 2px#dadada;
			box-shadow: 0 1px 1px #dadada;
			text-shadow:0 0 1px #ffffff;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
}
.pBtnWrap a.on {float:left; font-size:11px; border:1px solid #3568ac; text-align:center; background:#1b7dea url('../images/popup/btm_btn_bg02.gif') repeat-x 0 1px; padding:8px 0 7px; font-weight:bold; color:#fff;
			-moz-box-shadow: 0 1px 2px #dadada;
			-webkit-box-shadow: 0 1px 2px#dadada;
			box-shadow: 0 1px 1px #dadada;
			text-shadow:0 0 1px #3f3f3f;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
}
.pBtnMiddle {position:relative; display:table; text-align:center; margin:10px auto;}
.pBtnMiddle a {width:90px; margin:0 5px;}

/* ==========================================================================
   POPUP Wrap End
========================================================================== */






.popupWrap {padding:0 0 16px;}
.popupWrap h1 {padding:29px 0 0 18px; border-top:7px solid #ffa700; border-bottom:1px solid #f3f3f3;}
.popupWrap .titTxt {padding-bottom:15px;}
.popupWrap.layerStyle {width:481px; height:443px; padding:0; position:absolute; top:0; left:0; background:url('../images/common/popup_bg.png') no-repeat; z-index:1000; display:none; }
.popupWrap.layerStyle h1 {border-top:0; padding-top:64px;}
.popupWrap.certLayerStyle {width:50px; height:50px; padding:0; position:absolute; top:0; left:0; z-index:1000; display:none; }
.popupContents{padding:16px 35px 0;}

.popupContents.fastWrap {background:url('../images/popup/bg_fast.gif') no-repeat 647px top; width:770px;}

.search_company {padding:0 0 5px;}
.search_company input {border:1px solid #c4c4c4; width:178px; height:14px; padding:6px 0 0 10px; font-size:12px; color:#a0a0a0; font-family:dotum;}

/*table*/
table.popupTable {border-top:3px solid #9d9d9d;width:100%; table-layout:fixed;}
table.popupTable.noline {border-top:0;}
table.popupTable th {border-bottom:1px solid #a1a1a1; background:#cbcbca url('../images/common/th_bg.gif') no-repeat right; padding:6px 2px 4px 0; font-weight:normal;}  

table.popupTable th.red {color:#bc5400; background:#ecb487 url('../images/popup/th_red.gif') no-repeat right; border-bottom:1px solid #df853b;}
table.popupTable th.red.last {color:#bc5400; background:#ecb487; border-right:1px solid #df853b;}
table.popupTable th.white {background:url('../images/popup/th_white.gif') repeat-x bottom; border:1px solid #e1e2e4; font-weight:bold; color:#9b9b9b; border-bottom:3px solid #9d9d9d ;}
table.popupTable td {border-bottom:1px solid #e1e2e4; text-align:center; padding:6px 0 4px 0; background:url('../images/common/td_bg.gif') repeat-y right;}
table.popupTable td.last {background:none; border-right:1px solid #e1e2e4; }
table.popupTable td:first-child {border-left:1px solid #e1e2e4;}

.if_txt {padding:18px 0 0 25px; background:url('../images/common/ico_arrow.gif') no-repeat 13px 20px; color:#707070; line-height:1.4em;}
.newBusiness {background:url('../images/popup/newBusiness_bg.gif') no-repeat; width:401px; height:30px; padding:6px 0 0 6px; margin:15px 0 0;}
.newBusiness input {width:117px; height:15px; padding:5px 0 0; border:1px solid #e7ae40;}
.newBusiness label {background:url('../images/popup/ico_dot.gif') no-repeat 0 2px; padding:0 0 0 9px; font-weight:bold; color:#a36b00;}

.btnCenter {margin:16px 0 0; text-align:center;}

.popupWrap .closeLayer {position:absolute; top:15px; right:14px;}

.btmBtnWrap {position:relative;}
.btmBtnWrap .paging {color:#dcdcdc;text-align:center; padding:15px 0 0;}
.btmBtnWrap .paging a {color:#707070; font-weight:bold; padding:0 2px;}
.btmBtnWrap .paging a.current {color:#ff6600;}
.btmBtnWrap .paging .prev_page {background:url('../images/common/ico_prev.gif') no-repeat 0 1px; padding-left:9px; padding-right:10px; color:#949494; font-weight:normal;}
.btmBtnWrap .paging .next_page {background:url('../images/common/ico_next.gif') no-repeat right 1px; padding-right:9px; padding-left:10px;color:#949494; font-weight:normal;}

.btmBtnWrap .leftBtn {position:absolute; left:0; top:10px;}
.btmBtnWrap .leftBtn {margin:0;}

.fastSearch {position:relative; padding:0 0 20px;}
.fastSearch dl {width:344px; border:1px solid #d1d1d1; border-bottom:0;}
.fastSearch dl dt {background:#f6f6f6; float:left; width:115px;height:20px;padding:6px 0 0;border-bottom:1px solid #d1d1d1; border-right:1px solid #d1d1d1; font-weight:bold; text-align:center;}
.fastSearch dl dd {margin-left:115px;height:21px;padding:5px 0 0 8px;border-bottom:1px solid #d1d1d1;}
.fastSearch p {position:absolute; top:0; left:355px;}

.hasDatepicker {background:url('../images/common/date_bg.gif') no-repeat; border:0; width:107px; height:18px; font-size:11px; color:#707070;}
.txtInputFast {border:1px solid #c4c4c4; padding:2px 0 1px; width:90px; text-align:center;}

.inlinebtn {display:inline-block; height:14px; border:1px solid #c4c4c4; padding:2px 10px 0; text-align:center; background:url('../images/popup/btn_inline_bg.gif') repeat-x;} 
.inlinebtn:hover , .inlinebtn.active {background:url('../images/popup/btn_inline_active.gif') repeat-x; border:1px solid #0068b7; color:#fff;}

.askMoney table {width:100%;}
.askMoney table th {border:1px solid #d1d1d1;background:#f6f6f6; }
.askMoney table td {border:1px solid #d1d1d1; padding:2px 0 0 5px;}
.askMoney table td .inputtxt {border:1px solid #c4c4c4; width:90%; padding:2px 0 1px;}
.askMoney p {text-align:center; padding:8px 0 2px;}

.noBorder {text-align:right;padding-right:20px;}
a.textLink {text-decoration:underline;color:#00A0E9;}