<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Cache-Control" content="No-Cache"/> 
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>

