html{color: #494949; font-size: 14px; font-family: "Malgun Gothic", dotum, sans-serif;}
a {color:#494949;text-decoration: none}
a:visited {color:#494949;text-decoration: none}
a:hover {color:#494949;text-decoration: none}
ul,li{list-style:none;}

table tbody tr td {vertical-align: middle;}

input.numericMoney {
	text-align:right;
	margin-right:5px;
	padding-right:2px; 
}

.mem_type_N{
	color:#00a0e9;
}

/*첨부파일 관련 CSS*/
.defaultTbl01_01 td.title {
    vertical-align:middle;
}
.defaultTbl01_01 td .dataUploadArea{
	margin:7px 0px 7px 0px;
}

.defaultTbl01_01 td .dataUploadArea input[type=file]{
	width:700px;
	background-color:#ffffff;
	height:23px;
	font-size:12px;
	border: none;
	border-bottom: #B5B6B5 1px solid; 
	border-top: #B5B6B5 1px solid; 
	border-left: #B5B6B5 1px solid; 
	border-right: #B5B6B5 1px solid; 
}
	
.defaultTbl01_01 td .spliter {
	background-color:#efefef;
	width:99%;
	padding:1px;
	margin:7px 0px 7px 0px;
}