/*첨부파일 관련 CSS*/
.defaultTbl01_01 td.title {
    vertical-align:middle;
}
.defaultTbl01_01 td .dataUploadArea{
	margin:7px 0px 7px 0px;
}
.defaultTbl01_01 td .spliter {
	background-color:#efefef;
	width:99%;
	padding:1px;
	margin:7px 0px 7px 0px;
}
.defaultTbl01_01 td .dataUploadArea input[type=file]{
	width:430px;
	background-color:#ffffff;
	height:23px;
	font-size:12px;
	border: none;
	border-bottom: #B5B6B5 1px solid; 
	border-top: #B5B6B5 1px solid; 
	border-left: #B5B6B5 1px solid; 
	border-right: #B5B6B5 1px solid; 
}
.dataUpWrap02 {
    float: right;
    margin: 0;
    padding: 5px 10px 5px 0;
    top: 0;
}
.browsing {
	font-weight: bold;
	color: #FF7F10;
	line-height: 170%;
}

.browsing:hover {
	color: #FF7F10;
	text-decoration: underline;
	cursor:pointer;
}