@charset "utf-8";

/*getCustomerList*/
.noSearch {
 	padding:6px 0 4px 0; 
 	text-align:center;
 }
a {
	cursor:pointer;
}

/* DebnCnt anchor Style */
.unpaid > a {color:#e67300;}
.done > a {color:#bababa;}
.totalCnt {
	padding-top:6px;
	height:22px;
}
#crd_dt_input_txt {
	width:30px;
}
.numeric {
	text-align:right;
	padding-right:3px;
}