.mbr_name{
	border:1px solid #e5e5e5;
	background-color:#f8f8f8; 
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2;
	padding:2px;
	line-height:200%;
	margin-left : 2px;
}

.regMbrName{
	border:1px solid #e5e5e5;
	background-color:#f8f8f8; 
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2;
	padding:2px;
	line-height:200%;
	margin-left : 2px;
}