html{color: #494949; font-size: 14px; font-family: "Malgun Gothic", dotum, sans-serif;}
a {color:#494949;text-decoration: none}
a:visited {color:#494949;text-decoration: none}
a:hover {color:#494949;text-decoration: none}
ul,li{list-style:none;}

table tbody tr td {vertical-align: middle;}

input.numericMoney {
	text-align:right;
	margin-right:5px;
	padding-right:2px; 
}

/*첨부파일 관련 CSS*/
.defaultTbl01_01 td.title {
    vertical-align:middle;
}
.defaultTbl01_01 td .dataUploadArea{
	margin:7px 0px 7px 0px;
}

.defaultTbl01_01 td .dataUploadArea input[type=file]{
	width:700px;
	background-color:#ffffff;
	height:23px;
	font-size:12px;
	border: none;
	border-bottom: #B5B6B5 1px solid; 
	border-top: #B5B6B5 1px solid; 
	border-left: #B5B6B5 1px solid; 
	border-right: #B5B6B5 1px solid; 
}
	
.defaultTbl01_01 td .spliter {
	background-color:#efefef;
	width:99%;
	padding:1px;
	margin:7px 0px 7px 0px;
}

/* 채무불이행 상세조회 이벤트 관련 CSS */
html{color: #494949; font-size: 14px; font-family: "Malgun Gothic", dotum, sans-serif;}
a {color:#494949;text-decoration: none}
a:visited {color:#494949;text-decoration: none}
a:hover {color:#494949;text-decoration: none}
ul,li{list-style:none;}
	
.default_Apply li.Apply_slide .slideSpan a.up {background:none;}
.default_Apply li.Apply_slide .slideSpan a.down { background:none; }

.slideSpan{position:relative;}
.slideSpan .ApplyBtn01{position:relative;display:block;}
.slideSpan .ApplyBtn01 .btn_step1_step2_modify {position:absolute;right:20px; top:-39px;}
.slideSpan .ApplyBtn01 .btn_step1_step2_save {position:absolute;right:110px; top:-39px;display:none;}
.slideSpan .ApplyBtn01 .btn_step1_step2_cancel {position:absolute;right:20px; top:-39px;display:none;}
.ApplyBtn_Type { width:70px; padding:9px 18px 8px 18px;margin-right:10px;}

.btmBtnWrap{margin:10px 20px 0 0;}
.btmBtnWrap .centerBtn {text-align:center;}
.btmBtnWrap .rightBtn {display:block;position:absolute; top:0px; right:0;}

/* 토글이미지에 따른 버튼 show / hide를 위한 CSS */
.step1_modify_toggle{display:none;}
.step2_modify_toggle{display:none;}

/* 채권 담당자 관련 CSS */
.mem_type_N{ color:#00a0e9; }