@charset "utf-8";

/*getCustomerForm*/
.tableUlWrap ul li span.date {
	position: absolute;
	bottom: 4px;
	right: 4px;
	font-style: italic;
	color: #c9c9c9;
}

.tableUlWrap ul li span.save {
	text-align: center-center;
	position: absolute;
	bottom: 7px;
	right: 4px;
	color: #c9c9c9;
}

.tableUlWrap ul li .taxDate {
	position: static;
	top: 36px;
	left: 258px;
}

.tableUlWrap ul #history {
	position: relative;
	padding: 5px;
}

.btmBtn div#bottom {
	position: absolute;
	top: 12px;
	right: 0;
}

div.customerTypeArea img {
	padding-top: 8px;
	padding-bottom: 7px;
}

.tableUlWrap ul li {
	position: relative;
	border-bottom: 1px dotted #e1e2e4;
	padding: 15px 0 15px 34px;
}
.tableUlWrap ul li:nth-child(2n-1) {background:#FFFFFF;}
.tableUlWrap ul li:nth-child(2n) {background:#F6F6F6}

.headerWrap #header .smallGnb.smallGnb01 .gnb0102 {
	z-index: 9999;
}

a {
	cursor: pointer;
}

input.numericMoney, .day {
	text-align:right;
	margin-right:5px;
	padding-right:2px;
}

#select_email {
	width:70px;
}