input.numericMoney, input.numeric {padding-right: 2px;text-align: right;}
.noSearch{padding:6px 0 4px 0; text-align:center;}
p.empty {width:25px;}
.inlineBlockDiv {display:inline-block;}
.mem_type_N{
	color:#00a0e9;
}