@charset "utf-8";

/*getCustomerDuplicationCustomerForm*/
body{
	text-align:center;
	width:100%;
}
body a{
	cursor:pointer;
}
#popup {
	margin:5px auto;
	width:300px;
	height:180px;
	background-color:#f8f8f8;
	border:5px solid #bababa;
	padding:9px 0 8px;
	-moz-box-shadow: 0 2px 2px #666;
	-webkit-box-shadow: 0 2px 2px#999;
	box-shadow: 0 2px 2px #dadada;
}
#popup div.content{
	margin:28px; 
	line-height:150%;
}
#popup div.content #text{
	margin-top:10px;
}
#popup div.content font.code{
	font-weight:bold; 
	color:red; 
	text-decoration:underline;
}
#popup div.content div.checkbtn{
	margin-top:11px;
}

#defaultMsg p{
	text-align:left;
	margin-left:10px;
	margin-top:5px;
}
