@charset "utf-8";
@import url("reset.css");
@import url("jquery-ui.css");

/* Header(Ver2.0)*/
/* #header2 {position:relative; top:0px; width:100%; padding-bottom:6px; background:url('../images/header/bg_header.gif') 0 0 repeat-x;} */
#header2 {
    position: relative;
    top: 0px;
    width: 100%;
    padding-bottom: 6px;
    background: url('../images/header/bg_header.gif') 0 0 repeat-x;
    z-index: 10001;
}
/* #header2 .header_area {position:relative; width:980px; height:120px; margin:0 auto; background:url('../images/header/bg_header.gif') 0 0 repeat-x;} */
#header2 .header_area {
    position: relative;
    width: 980px;
    height: 120px;
    margin: 0 auto;
    background: url('../images/header/bg_header.gif') 0 0 repeat-x;
    z-index: 10001;
}
#header2 .header_area h1 {position:absolute; margin-top:51px; left:0px; z-index:10002;}

/* #header2 .header_area .top_menu{position:absolute; top:10px; right:0; color:#b5b5b5; font-family:Nanum Gothic, NanumGothic, arial;} */
#header2 .header_area .top_menu {position:absolute; top:9px; right:0; color:#b5b5b5; word-spacing:-0.1em; font-family:돋움, dotum, arial; font-size:8.5pt; z-index:10002;}
#header2 .header_area .top_menu a {color:#b5b5b5; text-decoration:none; padding:0; margin:0; word-spacing:-0.1em; font-family:돋움, dotum, arial; font-size:8.5pt; color:#d3e1f0;}
#header2 .header_area .top_menu li {display:inline-block;*display:inline; text-align:center; word-spacing:-0.1em; font-family:돋움, dotum, arial; font-size:8.5pt;}
#header2 .header_area .top_menu li + li {margin-left:5px; padding-left:10px; background:url(../images/header/ico_top_bar.gif) no-repeat 0 2px; font-family:돋움, dotum, arial; font-size:8.5pt;}

/* #header2 .header_area .gnb{text-align:right; padding:66px 0 20px;} */
#header2 .header_area .gnb {
    float: right;
    padding: 66px 0 20px 0;
    position: relative;
    z-index: 10001;
}

/* #header2 .header_area .gnb > li{position:relative; margin-left:55px; display:inline-block;zoom:1;*display:inline; *z-index:2;} */
#header2 .header_area .gnb > li {
    position: relative;
    margin-left: 52px;
    display: inline-block;
    float: left;
}
/* #header2 .header_area .gnb > li > a{padding-bottom:30px;} */
#header2 .header_area .gnb > li > A {
    padding-bottom: 30px;
    display: inline-block;
}

/* #header2 .header_area .gnb > li > ul{display:none; position:absolute; top:39px; padding:15px 0 0; width:177px; height:240px; text-align:left; z-index:2 !important; } */
#header2 .header_area .gnb > li > ul {
    display: none;
    position: absolute;
    top: 39px;
    padding: 15px 0 0;
    width: 177px;
    height: 240px;
    text-align: left;
    z-index: 10001 !important;
}
/* 수정 20150305_by 100 */
#header2 .header_area .gnb > .gnb_01 > ul{width:192px; left:-55px; background:url(../images/header/bg_gnb01.png) no-repeat 0 0;}
#header2 .header_area .gnb > .gnb_02 > ul{width:199px; left:-42px; background:url(../images/header/bg_gnb02.png) no-repeat 0 0;}
#header2 .header_area .gnb > .gnb_03 > ul{width:143px; left:-38px; background:url(../images/header/bg_gnb03.png) no-repeat 0 0;}
#header2 .header_area .gnb > .gnb_04 > ul{width:201px; left:-135px; background:url(../images/header/bg_gnb04.png) no-repeat 0 0;}
/*#header2 .header_area .gnb > .gnb_05 > ul{width:190px; left:-122px;background:url(../images/header/bg_gnb05.png) no-repeat 0 0;}*/
#header2 .header_area .gnb > li > ul.on{display:block !important; padding-top:30px; padding-left:3px;}
#header2 .header_area .gnb > li > ul > li a.st1{font-weight:bold; word-spacing:-0.2em; font-family:돋움, dotum, arial; font-size:11pt; color:#8d8d8d;}
#header2 .header_area .gnb > li > ul > li a.st2{font-weight:bold; margin-top:5px; word-spacing:-0.2em; font-family:돋움, dotum, arial; font-size:11pt; color:#8d8d8d;}
#header2 .header_area .gnb > li > ul > li a.st3{margin-left:20px; padding-left:8px; background:url(../images/header/ico_st.gif) no-repeat 0 8px; word-spacing:-0.2em; font-family:돋움, dotum, arial; font-size:11pt; color:#8d8d8d;}
#header2 .header_area .gnb > li > ul > li a{padding-left:20px; display:block; line-height:20px; word-spacing:-0.2em; font-family:돋움, dotum, arial; font-size:11pt; color:#8d8d8d;}
#header2 .header_area .gnb > li > ul > li a:hover,header .header_area .gnb > li > ul > li a.on{color:#0057b7;}
#header2 .header_area .gnb > li > ul > li img{position:relative;top:-2px;}

/* #header2 .sub_header_areaWrap {width:100%; height:32px; border-bottom:solid 1px #d7d7d7;} */
#header2 .sub_header_areaWrap {height:37px; border-bottom: solid 1px #d7d7d7;}
#header2 .sub_header_area {width:980px; margin:0 auto;}
#header2 .sub_header_area .smallGnb {position:absolute; top:114px; height:52px; background:none; padding:0;}
#header2 .sub_header_area .smallGnb li a {display:block; height:39px; overflow:hidden; text-indent:-1000em; padding:0;}
/* #header2 .sub_header_area .smallGnb.smallGnb09 {height:52px; padding:0;} */
#header2 .sub_header_area .smallGnb09.smallGnb {height:58px;  padding:0;}
/* #header2 .sub_header_area .smallGnb.smallGnb09 li {display:block; text-align:center; *display:inline;} */
#header2 .sub_header_area .smallGnb09.smallGnb li {
    display: block;
    text-align: center;
    height: 59px;
    float: left;
}
#header2 .sub_header_area .smallGnb.smallGnb09 li a {float:left; margin-right:-1px; padding:0;}
#header2 .sub_header_area .smallGnb.smallGnb09 li a:hover, 
#header2 .sub_header_area .smallGnb.smallGnb09 li a.active {position:relative; background-position:0 -39px !important; height:52px; overflow:hidden; border:0; background-color:transparent;}

/* 관리자메뉴 START */
#header2 .sub_header_area .smallGnb.smallGnb09 .gnb0901 a {width:196px; background:url('../images/header/sub_gnb09_01.png') no-repeat;}
#header2 .sub_header_area .smallGnb.smallGnb09 .gnb0902 a {width:197px; background:url('../images/header/sub_gnb09_02.png') no-repeat;}
#header2 .sub_header_area .smallGnb.smallGnb09 .gnb0903 a {width:197px; background:url('../images/header/sub_gnb09_03.png') no-repeat;}
#header2 .sub_header_area .smallGnb.smallGnb09 .gnb0904 a {width:196px; background:url('../images/header/sub_gnb09_04.png') no-repeat;}
#header2 .sub_header_area .smallGnb.smallGnb09 .gnb0905 a {width:198px; background:url('../images/header/sub_gnb09_05.png') no-repeat;}
/* 관리자메뉴 END */

/* 일반회원메뉴 START */
#header2 .sub_header_area .smallGnb.smallGnb09 .gnb1001 a {width:490px; background:url('../images/header/sub_gnb10_01.png') no-repeat;}
#header2 .sub_header_area .smallGnb.smallGnb09 .gnb1002 a {width:491px; background:url('../images/header/sub_gnb10_02.png') no-repeat;}
/* 일반회원메뉴 END */

