@charset "utf-8";

/*getCustomerSearchForm*/
a {
	cursor: pointer;
}

fieldset.newbusiness {
	width:100%;
	background-color:#aecdef;
	padding:6px 20px 6px 6px;
	margin:15px 0 15px;
}
fieldset.newbusiness div.cust_no_area{
	display:block;
}
#companyName {
	margin-bottom:5px;
}
.tableUlWrap ul li {
	position:relative;
	border-bottom:1px dotted #e1e2e4;
	padding:2px 0 3px 34px;
}
.tableUlWrap ul li input {
	position:absolute;
	top:2px;
	left:0px;
}
.tableUlWrap ul li dl {
	overflow:inherit;
}
.tableUlWrap ul li dl dt{
	margin-left:-13px;
}
.tableUlWrap ul li dl dt{
	font-size:12px;
}
#new{
	margin-right:25px;
}
@media(min-width:480px){
	.tavleUlWrap {
		overflow:auto;
		height:250px;
	}
	.tableUlWrap ul li {
		position:relative;
		border-bottom:1px dotted #e1e2e4; 
		padding:6px 0 6px 34px;
		}
	.tableUlWrap ul li dl dt{
		font-size:12px;
		margin-left:10px;
	}
	.tableUlWrap ul li input {
		position:absolute; 
		top:6px; 
		left:15px;
	}
	fieldset.newbusiness div.cust_no_area{
		display:inline;
	}
}