@charset "utf-8";

/*getDebentureMulti*/
  input.debnExcFile{
  	font-size: 23px;
	width:136px;
	opacity:0;
	height:127px;
	cursor:pointer;
    filter: alpha(opacity=0); 
	position:absolute;
	z-index:4;
	bottom:0px;
} 
 img#btn_exc_upload{
	z-index:-1;
} 
.noSearch {
 	padding:6px 0 4px 0; 
 	text-align:center;
 }
a {
	cursor:pointer;
}

/* DebnCnt anchor Style */
.lnkDebn {color:#e67300;}
.done > a {color:#bababa;}
.totalCnt {
	padding-top:6px;
	height:22px;
}

#dvLoading
{
   	background:#000 url(../images/common/loading.gif) no-repeat center center;
	hight: 10px;
	width: 100px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	z-index: 1000;
    display:none;
}
.btmBtn { color:#a0a0a0; height:32px; padding:0 0 17px;margin-top:10px;}
a.btnType01 {display:inline-block; border:1px solid #bababa; text-align:center; background:#fff url('../../images/common/btn_bg2.gif') repeat-x ; padding:9px 6px 8px; font-weight:bold; color:#535353;
			-moz-box-shadow: 0 2px 2px #dadada;
			-webkit-box-shadow: 0 2px 2px#dadada;
			box-shadow: 0 2px 2px #dadada;
			text-shadow:0 0 2px #fff;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
}

/*엑셀다운로드 비활성화 버튼입니다.
.excel_down2 span a {display:block; background:url(images/common/btn_down_excel2_inactive.gif) no-repeat; width:126px; height:21px; background-size:126px 21px; text-indent:-1000px; overflow:hidden;}

@media(min-width:480px){
.excel_down2 span a {display:block; background:url(images/common/btn_down_excel2_inactive.gif) no-repeat; width:137px; height:21px; text-indent:-1000px; overflow:hidden;}}
@media(min-width:800px){
.excel_down2 span a {display:block; background:url(images/common/btn_down_excel_inactive.gif) no-repeat; width:87px; height:21px; text-indent:-1000px; overflow:hidden;}}
@media(min-width:980px){
.excel_down2 span a {display:block; background:url(images/common/btn_down_excel_inactive.gif) no-repeat; width:87px; height:21px; text-indent:-1000px; overflow:hidden;}}
*/

/*실패건수 숫자 링크 css입니다.*/
table.table02 tr td a.bold{font-weight:bold;text-decoration:underline;}



