@charset "utf-8";

/*getDebentureList*/
div.tableTop {padding-bottom: 8px;}

.noSearch {
 	padding:6px 0 4px 0; 
 	text-align:center;
 }
a {cursor:pointer;}
input.numericMoney {
	text-align:right;
	margin-right:5px;
	padding-right:2px;
}
.choiceButton{
	border:1px solid #A6A6A6;
	background-color:#B4B4B4; 
	color:#FFFFFF;
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2;
	padding:3px;
	line-height:200%;
	margin : 0 3px;
	cursor: pointer;
}

.choiceButton.on{
	border:1px solid #3568ac;
	background-color:#1464bd;
}

.mem_type_N{
	color:#00a0e9;
}

/* 검색 조건 */
span.rightSpan {position: absolute; right: 10px;}

.disabledDate {background:#f0f0f0;}
.disabledSpan {cursor:default;}