@charset "utf-8";

/*getDebentureMultiForm*/
  input.debnExcFile{
  	font-size: 23px;
	width:136px;
    filter: alpha(opacity=0); 
	opacity:0;
	height:127px;
	cursor:pointer;
	position:absolute;
} 
 img#btn_excel_upload{
   z-index: -1;
} 
.noSearch {
 	padding:6px 0 4px 0; 
 	text-align:center;
 }
a {
	cursor:pointer;
}

/* DebnCnt anchor Style */
.lnkDebn {color:#e67300;}
.done > a {color:#bababa;}
.totalCnt {
	padding-top:6px;
	height:22px;
}
#dvLoading
{
   	background:#000 url(../images/common/loading.gif) no-repeat center center;
	hight: 10px;
	width: 100px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	z-index: 1000;
    display:none;
}

