@charset "utf-8";

/*getDebentureStatistics*/
a {
	cursor:pointer;
}
#search_date {
	display:none;
}
table.basicTable .numericMoney {
	text-align:right;
	padding-right:10px;
}
.tableWrapTotal {
    height: auto;
}