@charset "utf-8";

/*getDebenture*/
.noSearch {
 	padding:6px 0 4px 0; 
 	text-align:center;
 }
.tableUlWrap ul li span.save {
	position: absolute;
	bottom: 7px;
	right: 4px;
	color: #c9c9c9;
}

.tableUlWrap ul li .taxDate {
	position: static;
}

.tableUlWrap ul li .customInput {
	position: static;
	width:90px;
}

.tableUlWrap ul li .w140 {
	position: static;
	width:140px;
}

.tableUlWrap ul li {
	position: relative;
	border-bottom: 1px dotted #e1e2e4;
	padding: 5px 0 5px 5px;
}

input.numericMoney, .day {
	text-align:right;
	margin-right:5px;
	padding-right:2px;
}

input[type=file] {
	height:20px;
	font-size:12px;
	border: none;
	border-bottom: #B5B6B5 1px solid; 
	border-top: #B5B6B5 1px solid; 
	border-left: #B5B6B5 1px solid; 
	border-right: #B5B6B5 1px solid; 
}

#fileupload_ready{
	position:absolute;
	top:90px;
	left:76px;	
}

a {
	cursor:pointer;
}

li select {
	width:80px;
}

#mbr_contact {
	width:50px;
}

#bond_mbr_nm,#bond_mbr_id {
	width: 80px;
}
.mem_type_N{
	color:#00a0e9;
}

/*첨부파일 관련 CSS*/
.debentureFileTable {
	width : 980px;
}
.defaultTbl01_01 {
	width: 980px;
}
.defaultTbl01_01 td.title{
	padding: 13px 0 13px 15px;
}
.defaultTbl01_01 td.title {
    vertical-align:middle;
}
.defaultTbl01_01 td .dataUploadArea{
	margin:7px 0px 7px 0px;
}
.defaultTbl01_01 td .spliter {
	background-color:#efefef;
	width:99%;
	padding:1px;
	margin:7px 0px 7px 0px;
}
.defaultTbl01_01 td .dataUploadArea input[type=file]{
	width:700px;
	background-color:#ffffff;
	height:23px;
	font-size:12px;
	border: none;
	border-bottom: #B5B6B5 1px solid; 
	border-top: #B5B6B5 1px solid; 
	border-left: #B5B6B5 1px solid; 
	border-right: #B5B6B5 1px solid; 
}
.debnInfoArea {
    margin-top: 90px;
}

.browsing {
	font-weight: bold;
	color: #FF7F10;
	line-height: 170%;
}

.browsing:hover {
	color: #FF7F10;
	text-decoration: underline;
}

div.tab_box {display:none;}

/* 조회 모드에서는 em 태그 숨김 (*표) */
.debentureInfo em {
	display:none;
}
.btmBtn .comment {
	display:none;
}

.guideWrap{
	float:left;
	margin-top:10px;
	width:980px;
	margin-bottom:50px;
}

/* 기술료 수금계획 테이블 디자인 */
.debnTableContent {margin: auto;}
.debnTableWrap {padding: 0;position: relative;width: 980px;}
.debnTable {border-bottom: 2px solid #e1e2e4;border-top: 3px solid #9d9d9d;table-layout: fixed;width: 980px;}
.debnFormTableWrap th {background: url("../../images/common/th_bg.gif") no-repeat scroll right center #cbcbca;border-bottom: 1px solid #a1a1a1;padding: 2px 0;}
.debnFormTableWrap th:first-child {border-left: 1px solid #a1a1a1;}
.debnFormTableWrap th.last {background: none repeat scroll 0 0 #cbcbca;border-right: 1px solid #a1a1a1;padding-right: 0;}
.debnFormTableWrap tbody tr {height: 34px;}
.debnFormTableWrap tbody tr td {background: url("../../images/common/td_bg.gif") repeat-y scroll right center #ffffff;border-bottom: 1px solid #e1e2e4;font-size: 11px;text-align: center;vertical-align: middle;}
.debnFormTableWrap tbody tr td.list_right {text-align: right;padding-right:5px;}
.debnFormTableWrap tbody tr td.list_left {text-align: left;padding-left:5px;}
.debnFormTableWrap tbody tr td.last {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border-right: 1px solid #e1e2e4;}
.debnFormTableWrap tbody tr td:first-child {border-left: 1px solid #e1e2e4;}
.debnFormTableWrap tr.grayBackground td {background: url("../../images/common/td_bg.gif") repeat-y scroll right center #f6f6f6;}
.debnFormTableWrap tr.grayBackground td.last {background: #f6f6f6;}

.redText {color:#ff0000;}
.btmComment {padding:5px 0;}