@charset "utf-8";

/*getContract*/
a {
	cursor: pointer;
}

input.numericMoney,input.numeric {
	text-align:right;
	margin-right:5px;
	padding-right:2px; 
}

#select_email {
	width:70px;
}
#init_pay_term_day,#future_pay_term_day {
	width:30px;
}
#mbr_contact {
	width:50px;
}
.mem_type_N{
	color:#00a0e9;
}

input[type=file] {
	height:20px;
	font-size:12px;
	border: none;
	border-bottom: #B5B6B5 1px solid; 
	border-top: #B5B6B5 1px solid; 
	border-left: #B5B6B5 1px solid; 
	border-right: #B5B6B5 1px solid; 
}

#bond_mbr_id,#bond_mbr_nm {
	width:80px;
}

.rqrCheck{
	position:relative;
	color:#a0a0a0;
	
}
.rqrCheck em {
	color:#ff9000;
}

.moveOtherDebenture {
	color: #00a0e9;
	text-decoration: underline;
}

.infoView dl dd span.list_right {
	text-align: right;
	padding: 9px 10px 0 17px;
}

.infoView dl dd span {
	display: block;
	padding: 9px 0 0 17px;
}

.infoView dl dd span.relativeSpan {
	position: relative;
}

.infoView dl dd span.relativeSpan img {
	position: absolute;
	top: 5px;
	right: 11px;
}

.infoView dl dt.first {
	width: 17%;
}
.infoView dl dd.first {
	width: 83%;
}

.infoView dl dt {
	width: 17%;
}
.infoView dl dd {
	width: 33%;
}

.defaultTbl01_01 {
	width: 980px;
}

.defaultTbl01_01 td.title{
	padding: 13px 0 13px 15px;
}

/*첨부파일 관련 CSS*/
.defaultTbl01_01 td.noResult {
    text-align: center;
	padding: 5px 0;
}

.defaultTbl01_01 td.title {
    vertical-align:middle;
}
.defaultTbl01_01 td .dataUploadArea{
	margin:7px 0px 7px 0px;
}

.defaultTbl01_01 td .dataUploadArea input{
	width:700px;
	background-color:#ffffff;
}
	
.defaultTbl01_01 td .spliter {
	background-color:#efefef;
	width:99%;
	padding:1px;
	margin:7px 0px 7px 0px;
}

.browsing {font-weight: bold;color: #FF7F10;line-height: 170%;}
.browsing:hover {color: #FF7F10;text-decoration: underline;}
.redText {color:#ff0000;}
.btmComment {padding:5px 0;}

/* 테이블 리스트 영역 수금계획 */
.tableListWrap {position:relative;clear:both;content:"";margin:10px 0 30px;}

/* 테이블 상단 버튼영역(계획 행추가, 실적 행 추가) */
.topBtnWrap {position:absolute;top:0;right:0;width:100%;text-align:right;padding:20px 0 0;}
.topRightBtn {    
	background: url("../../images/popup/btm_btn_bg02.gif") repeat-x scroll 0 1px #1b7dea;
    border:1px solid #3568ac;
    border-radius: 3px;
    box-shadow: 0 2px 2px #dadada;
    color: #fff;
    font-weight: bold;
    padding: 5px 15px;
    text-align: center;
    text-shadow: 0 0 2px #3f3f3f;
    margin:0 5px;
}

/* 채권 단건 등록 수금계획 테이블 디자인 */
.debnTableContent {margin: auto;}
.debnTableWrap {padding: 0;position: relative;width: 980px;}
.debnTable {border-bottom: 2px solid #e1e2e4;border-top: 3px solid #9d9d9d;table-layout: fixed;width: 980px;}
.debnFormTableWrap th {background: url("../../images/common/th_bg.gif") no-repeat scroll right center #cbcbca;border-bottom: 1px solid #a1a1a1;padding: 2px 0;}
.debnFormTableWrap th:first-child {border-left: 1px solid #a1a1a1;}
.debnFormTableWrap th.last {background: none repeat scroll 0 0 #cbcbca;border-right: 1px solid #a1a1a1;padding-right: 0;}
.debnFormTableWrap tbody tr {height: 34px;}
.debnFormTableWrap tbody tr td {background: url("../../images/common/td_bg.gif") repeat-y scroll right center #ffffff;border-bottom: 1px solid #e1e2e4;font-size: 11px;text-align: center;vertical-align: middle;word-wrap:break-word;}
.debnFormTableWrap tbody tr td.list_right {text-align: right;padding-right:5px;}
.debnFormTableWrap tbody tr td.list_left {text-align: left;padding-left:5px;}
.debnFormTableWrap tbody tr td.last {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border-right: 1px solid #e1e2e4;}
.debnFormTableWrap tbody tr td:first-child {border-left: 1px solid #e1e2e4;}
.debnFormTableWrap tr.grayBackground td {background: url("../../images/common/td_bg.gif") repeat-y scroll right center #f6f6f6;}
.debnFormTableWrap tr.grayBackground td.last {background: #f6f6f6;}
