@charset "utf-8";

/*getDebentureMultiHistoryList*/
.noSearch {
 	padding:6px 0 4px 0; 
 	text-align:center;
 }
a {
	cursor:pointer;
}

/* DebnCnt anchor Style */
.lnkDebn {color:#e67300;}
.done > a {color:#bababa;}
.totalCnt {
	padding-top:6px;
	height:22px;
}
.tableUlWrap ul li {position:relative;border-bottom:1px dotted #e1e2e4; padding:12px 0 9px 34px;}
.tableUlWrap ul li input {position:absolute; top:10px; left:10px;}
.tableUlWrap ul li span.situation {position:absolute; bottom:4px; right:4px; color:#039;}
.tableUlWrap ul li dl dd.date {padding-right:15px; line-height:1.7em;color:#999;}
.tableUlWrap ul li dl dt{width:400px;}
@media(min-width:800px){
.tableUlWrap ul li dl dd {float:left; padding:0 0 0 0px; vertical-align:middle;}}

@media(min-width:980px){
.tableUlWrap ul li dl dd {float:left; padding:0 0 0 0px; vertical-align:middle;}}
