@charset "utf-8";
@import url("reset.css");
@import url("jquery-ui.css");
html {overflow-y:scroll;}
html,body{position:relative;height:100%;}

/* WRAP:980px */
#Wrapper{position:relative; background-color:#FFF; height:auto; min-height:100%;}
#containerWrap{position:relative; width:980px; margin:0 auto;}

form {margin:0;}

/* LOGIN START */
#headerwrap_login {width:665px; height:90px; padding:100px 0 0 0; border-bottom:solid 3px #595656; margin:0 auto;}
#headerwrap_login h1{height:75px; background:url('../images/common/bi_login.gif') no-repeat left;}
#loginwrap {width:606px; margin:0 auto; padding:60px 0 55px 0; font-size: 11px;}
#loginwrap p {margin-bottom:10px; float:left;}
.container {margin:0 auto; display:inline-block; text-align:center; width:100%;}
.login_info {float:left; width:314px;}
.login_form {float:right; width:292px;}
.login_form p.txtstyle1 {font-weight:bold; letter-spacing:-0.5px; color:#757575;}
.login_input {width:292px; border:1px solid #757575; background-color:#fff; text-align:center; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; behavior:url(js/PIE.htc);}
.login_input input {width:90%; margin: 9px 6px 9px 6px; font-weight:bold; letter-spacing:-0.5px; color: #b5b5b5;}
.login_left {float:left; display:inline-block; font-weight:bold; letter-spacing:-0.5px; color: #b5b5b5;}
.login_right {float:right; font-weight:bold; letter-spacing:-0.5px; color: #b5b5b5;}
input.login {width:292px; height:40px; background:url('../images/common/btn_login.gif'); color:transparent;}
#footerWrap_login {width:665px; margin:50px auto; display:inline-block;}
.login_copyright {border-top:1px solid #b5b5b5; padding:28px 0 100px 0; text-align:center; color:#9d9c9c; letter-spacing:-0.2px; font-size:11px;}
/* LOGIN END */


/* HEADER START */
#headerWrap {position:relative; top:0; left:0; margin-bottom:20px; width:100%; min-width:980px; background:url('../images/common/bg_header.gif') 0 0 repeat-x;}
.headerCon {margin:0 auto; width:980px; border-bottom:3px solid #595656;}
.headerTop {position:relative; height:35px;}
.headerTop .hT_menu {position:relative; float:right; top:11px; color:#c6dcff; font-size:11px;}
.headerTop .hT_menu a {color:#c6dcff; text-decoration:none; padding:0; margin:0; font-size:11px;}
.headerTop .hT_menu a:hover {color:#fff100;}
.headerTop .hT_menu li {display:inline-block; *display:inline; text-align:center;}
.headerTop .hT_menu li + li {margin-left:5px; padding-left:10px; background:url(../images/common/ico_top_bar.gif) no-repeat 0 1px;}
.headerGnb {position:relative; height:78px;}
.headerGnb h1 {position:absolute; float:left; width:230px; height:64px; margin-top:11px; background:url('../images/common/bi_main.gif') no-repeat;}
.headerGnb .hG_menu {position:relative; float:right; padding-top:33px;}
.headerGnb .hG_menu a.mgnb {display:inline-block; color:#595656; text-decoration:none; padding:0; margin:0; font-size:16px; font-weight:bold;}
.headerGnb .hG_menu a.mgnb:hover, .headerGnb ul li a.mgnb.on {color:#0051e9;}
.headerGnb .hG_menu li {position:relative; display:inline-block; margin-left:85px;}
/* HEADER END */


/* SUBMENU START */
#leftWrap {float:left; width:172px; height:auto; padding-right:28px;}
.leftGnb {position:relative;}
.leftGnb ul li.left_tit {display:block; height:45px; border-bottom:3px solid #595656;}
.leftGnb ul li.left_tit.ltit00_01 {background:url('../images/common/ltit00_01.gif') no-repeat;}
.leftGnb ul li.left_tit.ltit01_01 {background:url('../images/common/ltit01_01.gif') no-repeat;}
.leftGnb ul li.left_tit.ltit02_01 {background:url('../images/common/ltit02_01.gif') no-repeat;}
.leftGnb ul li.left_tit.ltit03_01 {background:url('../images/common/ltit03_01.gif') no-repeat;}
.leftGnb ul li a.lgnb {display:block; line-height:40px; padding-top:0px; border-bottom:1px solid #b5b5b5; color:#595656; font-weight:bold; font-size:14px;}
.leftGnb ul li a.lgnb:hover, .leftGnb ul li a.lgnb.on {color:#4594ff;}
/* SUBMENU END */


/* CONTENTS START */
#rightWrap {width:780px; height:auto; float:right;}
.right_tit {display:block; width:auto; height:45px; border-bottom:3px solid #595656; margin-bottom:13px;}
.right_tit.ltit00_0101 {background:url('../images/common/ltit00_0101.gif') no-repeat left top;}
.right_tit.ltit00_0201 {background:url('../images/common/ltit00_0201.gif') no-repeat left top;}
.right_tit.ltit00_0301 {background:url('../images/common/ltit00_0301.gif') no-repeat left top;}
.right_tit.ltit00_0401 {background:url('../images/common/ltit00_0401.gif') no-repeat left top;}
.right_tit.ltit01_0101 {background:url('../images/common/ltit01_0101.gif') no-repeat left top;}
.right_tit.ltit01_0102 {background:url('../images/common/ltit01_0102.gif') no-repeat left top;}
.right_tit.ltit01_0103 {background:url('../images/common/ltit01_0103.gif') no-repeat left top;}
.right_tit.ltit02_0101 {background:url('../images/common/ltit02_0101.gif') no-repeat left top;}
.right_tit.ltit02_0201 {background:url('../images/common/ltit02_0201.gif') no-repeat left top;}
.right_tit.ltit03_0101 {background:url('../images/common/ltit03_0101.gif') no-repeat left top;}
.right_tit.ltit03_0201 {background:url('../images/common/ltit03_0201.gif') no-repeat left top;}
.right_tit.ltit03_0301 {background:url('../images/common/ltit03_0301.gif') no-repeat left top;}
.right_tit.ltit03_0401 {background:url('../images/common/ltit03_0401.gif') no-repeat left top;}

.hasDatepicker {background:url('../images/common/date_bg.gif') no-repeat; border:0; width:107px; height:18px; font-size:11px; color:#707070;}

.content_tit {background:url('../images/common/ico_con_tit.gif') no-repeat left 3px; padding-left:14px; margin-bottom:10px; font-size:14px; font-weight:bold; color:#1b1b1b;}
.content_tit_u40 {background:url('../images/common/ico_con_tit.gif') no-repeat left 3px; padding-left:14px; margin:40px 0 17px 0; font-size:14px; font-weight:bold; color:#1b1b1b;}

#content_tit_pr {position:relative; margin-top:20px;}
#content_tit_pr_di1 {position:relative;}
.pru40 {background:url('../images/common/ico_con_tit.gif') no-repeat left 3px; padding-left:14px; margin:0 0 17px 0; font-size:14px; font-weight:bold; color:#1b1b1b; float:left; display:inline-block;}
.select_r1 {right:0; position:absolute; margin:-2px 0 0 0; font-size:12px;}
.select_r1 li {margin-left:8px; float:left;}

.point_txt1 {font-size:14px; font-weight:bold; color:#7db5ff; margin-left:5px; display: inline;}
.point_txt2 {font-size:16px; font-weight:bold; font-family:Tahoma;}
.point_txt3 {font-size:16px; font-weight:bold; font-family:Tahoma; vertical-align:top;}
.form_blue {color:#638c0b; display:block; margin:10px 0 0 0; font-size:11px;}

.empty_r20 {padding-right:20px;}
.empty_r10 {padding-right:10px;}
.empty_b7{padding-bottom:7px;}
.empty_b20 {padding-bottom:5px;}

.linedot_u40 {display:inline-block; width:780px; border-top:1px dashed #e0e0e0; margin:10px 0 10px 0;}
.linedot_u20 {display:inline-block; width:780px; border-top:1px dashed #e0e0e0; margin:10px 0 10px 0;}
.linedot_b0 {display:inline-block; width:780px; border-top:1px dashed #e0e0e0; margin:20px 0 0 0;}

.tblInput {border:1px solid #c4c4c4; padding:4px 4px 3px 4px;}
.tblSelect1 {border:1px solid #c4c4c4; font-size:12px; color:#666666; padding:3px 4px 3px 4px;}

.txt_bar1_link {font-weight:bold; padding:7px 0 16px 3px; float:left;}
.txt_bar1_link a {font-weight:bold; color:#7e00ff; text-decoration:underline; padding:0; margin:0;}
.txt_bar1_link li {display:inline-block;}
.txt_bar1_link li + li {margin-left:24px; padding-left:24px; background:url(../images/common/ico_txt_bar1.gif) no-repeat 0 2px;}

.txt_bar2_link  {color:#7e00ff; text-decoration:underline; padding:0; margin:0;}

.ico_bar {display:inline-block; padding:0 3px 4px 2px;}


.tbl00Wrap {width:780px; font-size:12px; color:#666666; letter-spacing:-0.1px;}
.tbl00Wrap table {width:100%; height:auto; border-bottom:1px solid #b5b5b5;}
.tbl00Wrap tr {text-align:left;}
.tbl00Wrap th.second_thl {border-left:1px solid #e0e0e0; text-align:left; background-color:#fafafa; text-align:left;}
.tbl00Wrap th.txt_valign_m {vertical-align:middle; border-right:1px solid #e0e0e0; text-align:left;}
.tbl00Wrap th {border-top:1px solid #e0e0e0; background-color:#fafafa; vertical-align:top; padding:14px 0 0 15px; text-align:left;}
.tbl00Wrap td {height:39px; padding-left:15px; border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; text-align:left; padding-top:1px;}
.tbl00Wrap td.padding_td1 {height:39px; padding-left:15px; border-top:1px solid #e0e0e0; text-align:left; padding-top:1px; padding:14px 0 14px 15px;}
.tbl00Wrap .reply {padding:10px 10px 7px 14px;}
.tbl00Wrap .reply textarea{width:100%; height:200px; border:1px solid #c8c8c8; overflow-y:scroll;}

.tbl01Wrap {width:780px; font-size:12px; color:#666666; letter-spacing:-0.1px;}
.tbl01Wrap table {width:100%; height:auto; border-top:2px solid #4c91ff; border-bottom:1px solid #b5b5b5;}
.tbl01Wrap tr {text-align:left;}
.tbl01Wrap th.second_thl {border-left:1px solid #e0e0e0; text-align:left; background-color:#fafafa; text-align:left;}
.tbl01Wrap th.txt_valign_m {vertical-align:middle; border-right:1px solid #e0e0e0; text-align:left;}
.tbl01Wrap th {border-top:1px solid #e0e0e0; background-color:#fafafa; vertical-align:top; padding:14px 0 0 15px; text-align:left;}
.tbl01Wrap td {height:39px; padding-left:15px; border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; text-align:left; padding-top:1px;}
.tbl01Wrap td.padding_td1 {height:39px; padding-left:15px; border-top:1px solid #e0e0e0; text-align:left; padding-top:1px; padding:14px 0 14px 15px;}
.tbl01Wrap .reply {padding:10px 10px 7px 14px;}
.tbl01Wrap .reply textarea{width:100%; height:200px; border:1px solid #c8c8c8; overflow-y:scroll;}

.tbl02Wrap {width:780px; font-size:12px; color:#666666; letter-spacing:-0.1px;}
.tbl02Wrap table {width:100%; height:auto; border-top:2px solid #4c91ff; border-bottom:1px solid #b5b5b5; margin-bottom:10px;}
.tbl02Wrap th.first_thl {border-left:none;}
.tbl02Wrap th {height:39px; border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; background-color:#fafafa; padding-top: 1px;}
.tbl02Wrap td.first_tdl {border-left:none; text-align:left; padding-left:15px;}
.tbl02Wrap td.first_tdl_c {border-left:none; text-align:center;}
.tbl02Wrap td {height:39px; border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; text-align:center; padding-top: 1px;}

.tbl03Wrap {width:780px; font-size:12px; color:#666666; letter-spacing:-0.1px;}
.tbl03Wrap table {width:100%; height:auto; border-top:2px solid #4c91ff; border-bottom:1px solid #b5b5b5; margin-bottom:10px;}
.tbl03Wrap th {background-color:#fafafa; padding: 20px 0 19px 0;}
.tbl03Wrap td {border-top:1px dashed #e0e0e0; text-align:center; padding: 20px 0 19px 0;}

.tbl04Wrap {width:780px; font-size:12px; color:#666666; letter-spacing:-0.1px;}
.tbl04Wrap table {width:100%; height:auto; border-top:2px solid #4c91ff; border-bottom:1px solid #b5b5b5; margin-bottom:10px;}
.tbl04Wrap th.first_thlwr4 {border-left:none;}
.tbl04Wrap th {height:39px; border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; background-color:#fafafa; padding-top: 1px;}
.tbl04Wrap td.first_tdlwr4 {border-left:none;}
.tbl04Wrap td.padding {padding:6px 3px 6px 3px; line-height:1.5em;}
.tbl04Wrap td.txt_left {line-height:1.5em; text-align:left; padding:0 7px 0 7px;}
.tbl04Wrap td {height:39px; border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; text-align:center; padding-top: 1px;}

.tbl05Wrap {background:#ffffff; border:1px solid #e1e2e4; width:780px;}
.tbl05Wrap th {padding:10px 10px 10px 10px; color:#707070; border-right:1px solid #e1e2e4; border-bottom:1px solid #e1e2e4; background:#f9f9f9;}
.tbl05Wrap td {padding:10px 10px 10px 10px; line-height:1.6em; text-align:center; vertical-align:middle; border-right:1px solid #e1e2e4; border-bottom:1px solid #e1e2e4;}

.tbl06Wrap {width:780px; font-size:12px; color:#666666; letter-spacing:-0.1px;}
.tbl06Wrap table {width:100%; height:auto; border-top:2px solid #4c91ff; border-bottom:1px solid #b5b5b5; margin-bottom:10px;}
.tbl06Wrap th.first_thlwr6 {border-left:none;}
.tbl06Wrap th {height:39px; border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; background-color:#ffffff; padding-top: 1px;}
.tbl06Wrap td.first_tdlwr6 {border-left:none;}
.tbl06Wrap .txt_left {line-height:1.5em; text-align:left; padding:0 7px 0 0;}
.tbl06Wrap td {height:39px; border-top:1px solid #e0e0e0; text-align:center; padding-top:1px; vertical-align:top; padding-top:23px;}
.tbl06Wrap .txt_answer {line-height:1.5em; text-align:left; padding:25px 25px 25px 0;}

#tbl_numbtnWrap {position:relative; margin:0 auto; width:780px; padding:10px 0; text-align:center; clear:both;}
table.tbl_numbtn {text-align:center; width:100%;}
table.tbl_numbtn td.left {float:left;}
table.tbl_numbtn td.right {float:right;}



#defaultApplyWrap{display:block; width:100%; border-top:2px solid #4c91ff; border-bottom: 1px solid #e1e2e4;}
.default_Apply p.line {display:block; border-bottom:1px solid #e1e2e4;}
.default_Apply {display:block; background:#f9f9f9; font-size:12px;}
.default_Apply li.Apply_slide .slideSpan.nobtn {display:block; padding:18px 18px 18px 20px; font-weight:bold; color:#4c91ff;}
.default_Apply li.Apply_slide .slideSpan.nobtn_etc {display:block; padding:18px 18px 18px 20px; font-weight:bold; color:#4c91ff; border-top: 2px solid #4c91ff;}
.default_Apply li.Apply_slide .slideSpan a.up {display:block; background: url(../images/common/bg_up.gif) no-repeat 98%; padding:18px 18px 18px 20px; font-weight:bold; color:#4c91ff;}
.default_Apply li.Apply_slide .slideSpan a.down {display:block; background: url(../images/common/bg_down.gif) no-repeat 98%; padding:18px 18px 18px 20px; font-weight:bold; color:#4c91ff;}
.default_Apply li.Apply_slide .Apply_sub{display:block; padding:18px 18px 18px 20px; border-top:1px solid #e1e2e4; background:#ffffff; font-size:12px;}
.default_Apply li.Apply_slide .Apply_sub2{display:block; padding:0px 0px 0px 0px; border-top:1px solid #e1e2e4; background:#ffffff; font-size:12px;}
.default_Apply li.Apply_slide .slideSpan .ApplyBtn01{position:relative;display:block;}
.default_Apply li.Apply_slide .slideSpan .ApplyBtn01 .btn_step1_step2_modify {position:absolute;right:15px; top:-39px;}
.default_Apply li.Apply_slide .slideSpan .ApplyBtn01 .btn_step1_step2_save {position:absolute;right:110px; top:-39px;display:none;}
.default_Apply li.Apply_slide .slideSpan .ApplyBtn01 .btn_step1_step2_cancel {position:absolute;right:15px; top:-39px;display:none;}
.default_Apply li.Apply_slide .slideSpan .ApplyBtn_Type { width:70px; padding:9px 18px 8px 18px;margin-right:10px;}

#ApplysubWrap{width:100%;}
.h4_01 {padding:3px 0 10px 0; font-weight:bold;}
.h4_02 {padding:20px 0 10px 0; font-weight:bold;}
.em_po {clear:both; color: #ff0014; padding:0 0 0 3px;}
.wart1 {padding:10px 0 15px 0; line-height:1.4em; font-size:11px; color:#638c0b;}
.warn_ico1 {padding-top:10px; line-height:1.4em; font-family:arial; font-size:11px; color:#638c0b;}
.warn_ico2 {padding-top:10px; line-height:1.4em; font-family:arial; font-size:11px; color:#ffffff;}

.defaultTbl01_01 {width:100%; table-layout:fixed; border:1px solid #e1e2e4;}
.defaultTbl01_01 td {padding:0 0 0 9px; text-align:left; font-size:12px; border:1px solid #e1e2e4;}
.defaultTbl01_01 td.title {padding:13px 0 13px 9px; font-size:12px; font-weight:bold; background:#f9f9f9;}
.defaultTbl01_01 .default_txtInput {padding:4px 4px 3px 4px; border:1px solid #c4c4c4;}
.defaultTbl01_01 .default_txtInput2 {margin-top:7px; padding:4px 4px 3px 4px; border:1px solid #c4c4c4;}
.defaultTbl01_01 .default_note {padding:0 0 0 9px;}
.defaultTbl01_01 .default_note2 {padding:8px 0 8px 9px;}

.defaultTbl01_02 {table-layout:fixed; margin-top:10px; border:1px solid #e1e2e4;}
.defaultTbl01_02 th {padding:6px 0 5px 0; text-align:center; font-size:12px; border:1px solid #e1e2e4; background:#f9f9f9;}

.defaultTbl01_02_Content {margin:0 auto; position:relative; width:942px; height:309px; overflow-y:auto; overflow-x:hidden; border-right:1px solid #e1e2e4; border-bottom:1px solid #e1e2e4;}
.defaultTbl01_02_list {width:100%; table-layout:fixed;}
.defaultTbl01_02_list td {border-bottom:1px solid #e1e2e4; text-align:center; padding:6px 5px 5px 5px; background:url('../images/common/td_bg.gif') repeat-y right; font-size:11px;}
.defaultTbl01_02_list td.list_right {border-bottom:1px solid #e1e2e4; text-align:right; padding:2px 10px 2px; background:url('../images/common/td_bg.gif') repeat-y right; font-size:11px;}
.defaultTbl01_02_list td.list_right.term {padding:0 25px;}
.defaultTbl01_02_list td.list_left {border-bottom:1px solid #e1e2e4; text-align:left; padding:2px 10px 2px; background:url('../images/common/td_bg.gif') repeat-y right; font-size:11px;}
.defaultTbl01_02_list td.last {background:none; border-right:1px solid #e1e2e4;}
.defaultTbl01_02_list td:first-child {border-left:1px solid #e1e2e4;}

.defaultTbl01_03 {table-layout:fixed; margin-top:10px; border:1px solid #e1e2e4;}
.defaultTbl01_03 th {padding:6px 0 5px 0; text-align:center; font-size:12px; border:1px solid #e1e2e4; background:#f9f9f9;}

.defaultTbl01_03_Content {margin:0 auto; position:relative; width:742px; height:309px; overflow-y:auto; overflow-x:hidden; border-right:1px solid #e1e2e4; border-bottom:1px solid #e1e2e4;}
.defaultTbl01_03_list {width:742px;}
.defaultTbl01_03_list td {border-bottom:1px solid #e1e2e4; text-align:center; padding:6px 5px 5px 5px; background:url('../images/common/td_bg.gif') repeat-y right; font-size:11px;}
.defaultTbl01_03_list td.list_right {border-bottom:1px solid #e1e2e4; text-align:right; padding:2px 10px 2px; background:url('../images/common/td_bg.gif') repeat-y right; font-size:11px;}
.defaultTbl01_03_list td.list_right.term {padding:0 25px;}
.defaultTbl01_03_list td.list_left {border-bottom:1px solid #e1e2e4; text-align:left; padding:2px 10px 2px; background:url('../images/common/td_bg.gif') repeat-y right; font-size:11px;}
.defaultTbl01_03_list td.last {background:none; border-right:1px solid #e1e2e4;}
.defaultTbl01_03_list td:first-child {border-left:1px solid #e1e2e4;}

.defaultSumWrap {margin-top:15px; padding:0 0 20px 0;}
.defaultSumTable {width:100%; background:#f6f6f6; height:30px; border:1px solid #e1e2e4;}
.defaultSumTable td{background:#f6f6f6 url('../images/common/ico_arrow.gif') no-repeat 13px 18px; border: 1px solid #e1e2e4; padding:9px 0 9px 24px;}
.defaultSumTable td .default_mInput {padding:4px 4px; border:1px solid #c4c4c4;}
.defaultSumTable p{display:inline; color:#719600;}

.ApplyBtn {position:relative; color:#a0a0a0; padding:10px 18px 18px 0px; line-height:16px; font-size:11px;}
.ApplyBtn em {color:#ff9000; font-size:12px;}
.ApplyBtn div {display:inline-block; position:relative; top:10px; right:0;}
.ApplyBtn01 a {float:left; border:1px solid #bababa; text-align:center; width:60px; background:#ebebeb url('../images/common/btm_btn_bg.gif') repeat-x 0 1px; font-weight:bold; color:#535353; padding:7px 9px 6px 9px;
			-moz-box-shadow: 0 2px 2px #dadada;
			-webkit-box-shadow: 0 2px 2px#dadada;
			box-shadow: 0 2px 2px #dadada;
			text-shadow:0 0 2px #fff;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
}

.ApplyBtn_Add {margin-top:10px; margin-bottom:10px; text-align:center; font-size:11px; letter-spacing:-0.1em;}
.ApplyBtn_Add .ApplyBtn_Step a {border:2px solid #7f7f7f; text-align:center; background:#fff; padding:9px 15px 8px 15px; font-weight:bold; color:#535353;
			-moz-box-shadow: 0 2px 2px #dadada;
			-webkit-box-shadow: 0 2px 2px#dadada;
			box-shadow: 0 2px 2px #dadada;
			text-shadow:0 0 2px #fff;
			-webkit-border-radius:4px;
			-moz-border-radius:4px;
			border-radius:4px;
}

.ApplyBtn02 {border:1px solid #b7b7b7; text-align:center; font-size:11px; font-weight:bold; background:#f7f7f7;
			padding:5px 6px 6px;
			border-radius:2px;
}

.dataUpWrap01 {margin:0px;top:0px; float:right; padding:0 10px 0 0;}
.dataUpWrap02 {margin:0px;top:0px; float:right; padding:5px 10px 5px 0;}


.txt_area1 {padding:25px 33px; line-height:1.6em; height:auto; vertical-align:top; text-align:left;}
.txt_area1 p {margin-bottom:20px;}

#reply_view {display:block; width:auto; height:auto; min-height:190px; background-color:#eff5ff; padding:35px 35px;}
#reply_view p {margin:0;}
#reply_view p.title {color:#4594ff; font-weight:bold; margin-bottom:20px;}

#srch_box1 {width:auto; background-color:#fafafa; border:1px solid #ddd; text-align:center; padding:12px 0px; margin-bottom:20px;}
#srch_box1 .lenz{background-color:#FFF;padding:3px 5px 2px;border:1px solid #C8C8C8; border-right:none;}
#srch_box1 input.search{height:23px; border:1px solid #C8C8C8; border-left:none;}
#srch_box1 input.bt_search {height:27px; width:63px; background:url('../images/common/bt_search.png') no-repeat; color:transparent;}
#srch_box1 select.select {width:100px; height:27px; border:1px solid #dbdbdb;}

#etc_box1 {width:auto; background-color:#ffffff; border:1px solid #ddd; text-align:center; padding:8px 0px 7px 10px; margin-bottom:20px;}
#etc_box1 ul {font-size:12px; font-weight:bold; text-align:left;}
#etc_box1 li {display:inline-block; height:16px; margin:5px 6px 5px 0; padding:2px 10px 0 17px;}
#etc_box1 li a {padding-left:8px; background:url('../images/common/ico_arrow2.gif') no-repeat 0 3px;}
#etc_box1 li a.etc_on {padding-left:8px; background:url('../images/common/ico_arrow1.gif') no-repeat 0 3px; color:#4594ff;}
#etc_box1 li a:hover {padding-left:8px; background:url('../images/common/ico_arrow1.gif') no-repeat 0 3px; color:#4594ff;}


#page_num_wrap {position:relative; margin:0 auto; width:780px; padding:10px 0; text-align:center; clear:both;}
.page_num {margin:0 auto;text-align:center;}
.page_num ul li {display:inline;}
.page_num ul li span {width:1px; color:#ddd; margin:0 3px 0 10px}
.page_num ul li a{font-size:11px; font-weight:bold;}
.page_num ul li a:hover, .page_num ul li a.on{color:#4696ff;}
.page_num ul li input.pre {width:16px; height:14px; background:url('../images/common/ico_pnum_pre.gif') no-repeat left 4px; color:transparent;}
.page_num ul li input.next {width:16px; height:14px; background:url('../images/common/ico_pnum_next.gif') no-repeat right 4px; color:transparent;}
.page_num ul li input.first {width:16px ;height:14px; background:url('../images/common/ico_pnum_first.gif') no-repeat left 4px; color:transparent;}
.page_num ul li input.last {width:16px; height:14px; background:url('../images/common/ico_pnum_last.gif') no-repeat right 4px; color:transparent;}


#btnwrap_sub .consult_require{width:100px;height:42px;background:url('../images/common/btn_login.gif');}
#btnwrap_sub .acco_apoint{width:100px;height:42px;background:url('../images/common/btn_login.gif');}
#btnwrap_sub{position:relative;margin-top:10px;min-height:42px;}
button{color:transparent;}
#btnwrap_sub .rightwrap{text-align:right;}
#btnwrap_sub .rightwrap button, #btnwrap_sub .rightwrap a{display:inline-block;}
#btnwrap_sub .centerwrap{text-align:center;}
#btnwrap_sub .left{float:left;margin-right:8px;}
#btnwrap_sub .right{float:right;}

#btnWrap_r {display:block; float:right; padding:10px 0 0 0;}
#btnWrap_duo {float:right; margin-top:-18px; display: inline-block;}
#btnWrap_duo_b {float:right; margin-top:17px; display:inline-block;}
#btnWrap_duo_bs {float:right; margin-top:17px; display:inline-block;}
#btnWrap_duo_b1 {float:right; margin-top:22px; display:inline-block;}
#btnWrap_l {display:block; float:left; margin-right:5px;}

.tab_t2 {position:relative; float:left; width:980px; height:34px;}
.tab_t2 ul {float:left; position:absolute;}
.tab_t2 li {float:left; padding-left:345px;}
.tab_t2 li a{display:inline-block; width:100px; line-height:27px; background:url(../images/common/tab_off2.png) no-repeat; font-size:0.8em; font-weight:bold; text-align:center;}

.btn_empty_l5 {padding-left:5px;}

.btn_bluebtn_01 {padding:8px 0 0 5px; display: inline-block;}
.btn_bluebtn_01 a 
{padding:12px 29px 9px 29px; font-size:11px; border:1px solid #4e7ac2; text-align:center; background:url('../images/common/btn_bg_blue.gif') repeat-x 0 0; font-weight:bold; color:#fff;
			text-shadow:0 0 1px #3f3f3f;
			border-radius: 3px;
			display: inline-block;
			}
			
.btn_graybtn_01 {display:block; float:left;}
.btn_graybtn_01 a 
{padding: 12px 29px 9px 29px; font-size:11px; border:1px solid #bebebe; text-align:center; background:url('../images/common/btn_bg_gray.gif') repeat-x 0 0; font-weight:bold; color:#626262;
			border-radius: 3px;
			}
			
.btn_whitebtn_01 {display:block; float:left;}
.btn_whitebtn_01 a 
{padding: 12px 29px 9px 29px; font-size:11px; border:1px solid #bebebe; text-align:center; background:url('../images/common/btn_bg_white.gif') repeat-x 0 0; font-weight:bold; color:#626262;
			border-radius: 3px;
			}

.btn_rbbtn_01 {padding:0 0 0px 5px; display: inline-block;}
.btn_rbbtn_01 a 
{float:left; padding: 12px 29px 9px 29px; font-size:11px; border:1px solid #4e7ac2; text-align:center; background:url('../images/common/btn_bg_blue.gif') repeat-x 0 0; font-weight:bold; color:#fff;
			text-shadow:0 0 1px #3f3f3f;
			border-radius: 3px;
			display: inline-block;
			}

.btn_gbtn_01 {display:block;}
.btn_gbtn_01 a 
{padding: 12px 29px 9px 29px; font-size:11px; border:1px solid #4e7ac2; text-align:center; background:url('../images/common/btn_bg_blue.gif') repeat-x 0 0; font-weight:bold; color:#fff;
			text-shadow:0 0 1px #3f3f3f;
			border-radius: 3px;
			display: inline-block;
			}


.btn_cbbtn_01 {text-align:center; display: inline-block;}
.btn_cbbtn_01 a 
{padding:12px 29px 9px 29px; font-size:11px; border:1px solid #4e7ac2; text-align:center; background:url('../images/common/btn_bg_blue.gif') repeat-x 0 0; font-weight:bold; color:#fff;
			text-shadow:0 0 1px #3f3f3f;
			border-radius: 3px;
			display: inline-block;
			}
			
#btnWrap_rpt {float:right; margin-top:-10px;}
.btn_rdgbtn_01 {padding:8px 0 0 5px; display: inline-block;}
.btn_rdgbtn_01 a 
{padding:12px 29px 9px 29px; font-size:11px; border:1px solid #6c6c6c; text-align:center; background:url('../images/common/btn_bg_darkgray.gif') repeat-x 0 0; font-weight:bold; color:#fff;
			text-shadow:0 0 1px #5a5a5a;
			border-radius: 3px;
			}

.btn_cal {vertical-align:middle; margin-left:3px; width:25px; height:24px; background:url('../images/common/icon_calendar.png');}

/* 토글이미지에 따른 버튼 show / hide를 위한 CSS */
.step1_modify_toggle{display:none;}
.step2_modify_toggle{display:none;}

.tableUlWrap {border-top:3px solid #9d9d9d; border-bottom:3px solid #9d9d9d; }
.tableUlWrap ul li {position:relative;border-bottom:1px dotted #e1e2e4; padding:15px 0 15px 34px;}
.tableUlWrap ul li.last {border-bottom:0;}
.tableUlWrap ul li input {position:absolute; top:13px; left:13px;}
.tableUlWrap ul li p.close {position:absolute; top:5px; right:5px;}
.tableUlWrap ul li p.unpaid {position:static; background:url('../images/common/unpaid_bg.gif') no-repeat; width:124px; height:15px; overflow:hidden; padding:5px 0 0 26px; color:#e67300;}
.tableUlWrap ul li p.unpaid.done {background-position:0 -20px; color:#bababa;}
.tableUlWrap ul li dl:after {clear:both; display:block; content:''}
.tableUlWrap ul li dl dt {line-height:1.7em; }
.tableUlWrap ul li dl dt img {vertical-align:top; margin-right:2px;}
.tableUlWrap ul li dl dt strong {color:#646464; font-size:14px;}
.tableUlWrap ul li dl em {color:#c3c3c3;}
.tableUlWrap ul li dl dd {padding-right:30px; line-height:1.7em;}
.tableUlWrap ul li dl dd.trust {float:none; clear:both; }
.tableUlWrap ul li span.date {position:absolute; bottom:4px; right:4px; font-style:italic; color:#c9c9c9;}
.tableUlWrap ul li dl dd span.red {color:#fe0000; padding-left:10px; background:url('../images/common/ico_over.gif') no-repeat 0 2px;}
/* CONTENTS END */


/* DEBT */

	#defaultWrap {border:1px solid #e1e2e4; width:780px;}
	.default_stepbox {overflow:hidden; padding:0 13px 20px;}
	.default_stepbox  li {position:relative; float:left;}
	.default_stepbox  li {height:100%; padding:20px 0 0 0;}
	.default_stepbox  li em {display:block;} 
	.default_stepbox .s1 .default_step_n {position:absolute; text-align:center; font-size:12px; padding:28px 19px; width:90px; font-weight:bold; color:#0377c8;}
	.default_stepbox .s1 .default_step_d {position:absolute; text-align:center; font-size:12px; padding:90px 27px 0 17px; width:90px; font-weight:bold;}
	.default_stepbox .s1 em {display:block; width:130px; height:150px; background-image:url('../images/common/default_step_back01.gif'); background-repeat:no-repeat; text-indent:-1000em; overflow:hidden;}
	.default_stepbox .s2 .default_step_n {position:absolute; text-align:center; font-size:12px; padding:28px 14px 0 42px;  font-weight:bold; color:#0377c8; width:100px;}
	.default_stepbox .s2 .default_step_d {position:absolute; text-align:center; font-size:12px; padding:90px 14px 0 54px;  font-weight:bold;}
	.default_stepbox .s2 em {display:block; width:156px; height:150px; background-image:url('../images/common/default_step_back02.gif'); background-repeat:no-repeat; text-indent:-1000em; overflow:hidden;}

.contentArea {width:980px; margin:-13px auto 0; z-index:1;}
#content {padding:24px 0 61px;}
.default_txt01 {margin:0px; padding:35px 0 35px 0; border-bottom:1px dashed #f3f3f4; text-align:center;}

/* FOOTER START */
#footerWrap {clear:both; width:100%; height:100px; padding-top:40px;}
.footer {margin:0 auto; width:980px; border-top:1px solid #b5b5b5; padding-top:20px; line-height:1.2em; letter-spacing:-0.3px;}
.footer .address {color:#9d9c9c; font-size:11px;}
.footer a {color:#9d9c9c; font-size:11px;}
.footer span.bold {font-weight:bold; color:#9d9c9c; font-size:11px;}
.footer span.footline {padding:0 5px 0 5px; color:#e5e5e5; font-size:11px;}
.footer .copyright {display:inline-block; color:#9d9c9c; letter-spacing:-0.1px; font-size:11px;}
/* FOOTER END */



