@charset "utf-8";
@import url("reset.css");
@import url("jquery-ui.css");


#popWrap {margin;0 auto;}
#headerWrap {height:60px; overflow-y:hidden; background:url('../images/popup/bg_header.gif') 0 0 repeat-y;}
h1 {padding:36px 0 0 40px;}


#contentWrap {padding:0 40px 0 40px; font-size:12px; line-height:1.6em;}
.ptbl01Wrap {width:100%px; font-size:12px; color:#666666; letter-spacing:-0.1px;}
.ptbl01Wrap table {width:100%; height:auto; border-top:2px solid #4c91ff; border-bottom:1px solid #b5b5b5; margin-bottom:10px;}
.ptbl01Wrap tr {text-align:left}
.ptbl01Wrap th.second_thl {height:39px;  border-left:1px solid #e0e0e0; text-align:left; background-color:#fafafa;}
.ptbl01Wrap th {height:39px; padding-left:10px; border-top:1px solid #e0e0e0; background-color:#fafafa;}
.ptbl01Wrap td {height:39px; padding-left:10px; border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; text-align:left; padding-top: 1px;}
.ptbl01Wrap td.none_line {border-left:none;}
.em_po {clear:both; color: #ff0014; padding:0 0 0 3px;}

.ptblInput {border:1px solid #c4c4c4; padding:3px 4px 3px 4px;}
.ptblSelect1 {border:1px solid #c4c4c4; font-size:12px; color:#666666; padding:3px 1px 2px 0; letter-spacing:-0.2px;}

.content_tit {background:url('../images/popup/ico_con_tit.gif') no-repeat left 3px; padding-left:14px; margin-bottom:10px; font-size:14px; font-weight:bold; color:#1b1b1b;}

.empty_b15 {padding-bottom:15px;}
.empty_word {color:#ffffff;}
.warn_ico1 {padding-top:10px; line-height:1.4em; font-family:arial; font-size:11px; color:#638c0b;}
.wart1 {padding-top:10px; line-height:1.4em; font-size:11px; color:#638c0b;}


#footWrap {text-align:center; padding:20px 0 30px 0;}
.ex {margin:0 auto; display:table; position:relative;}

.btn_cbbtn_01 {padding:0 2px 0 2px; display: inline-block;}
.btn_cbbtn_01 a
{padding:12px 29px 9px 29px; font-size:11px; border:1px solid #4e7ac2; text-align:center; background:url('../images/common/btn_bg_blue.gif') repeat-x 0 0; font-weight:bold; color:#fff;
			text-shadow:0 0 1px #3f3f3f;
			border-radius: 3px;
			display: inline-block;
			}
			
.btn_cgbtn_01 {padding:0 2px 0 2px; display: inline-block;}
.btn_cgbtn_01 a
{padding:12px 29px 9px 29px; font-size:11px; border:1px solid #bebebe; text-align:center; background:url('../images/common/btn_bg_gray.gif') repeat-x 0 0; font-weight:bold; color:#626262;
			border-radius: 3px;
			display: inline-block;
			}
			
.btn_cdgbtn_01 {padding:0 2px 0 2px; display: inline-block;}
.btn_cdgbtn_01 a 
{padding:12px 29px 9px 29px; font-size:11px; border:1px solid #6c6c6c; text-align:center; background:url('../images/common/btn_bg_darkgray.gif') repeat-x 0 0; font-weight:bold; color:#fff;
			text-shadow:0 0 1px #5a5a5a;
			border-radius: 3px; 
			display: inline-block;
			}
			


