@charset "utf-8";
@import url("reset.css");
@import url("jquery-ui.css");

.popupWrap {padding:0 0 0px;}
.popupWrap h1 {padding:29px 0 0 18px;border-top:7px solid #4f7eb2; border-bottom:1px solid #f3f3f3;}

.popupWrap .titTxt {padding-bottom:15px;}
.popupWrap.layerStyle {width:481px; height:443px; padding:0; position:absolute; top:0; left:0; background:url('../images/common/popup_bg.png') no-repeat; z-index:1000; display:none; }
.popupWrap.layerStyle h1 {border-top:0; padding-top:64px;}
.popupWrap.certLayerStyle {width:50px; height:50px; padding:0; position:absolute; top:0; left:0; z-index:1000; display:none; }
.popupContents{padding:10px 10px 0;}

.popupContents.fastWrap {background:url('../images/popup/bg_fast.gif') no-repeat 647px top; width:770px;}

.search_company {padding:0 0 5px;}
.search_company input {border:1px solid #c4c4c4; width:178px; height:14px; padding:6px 0 0 10px; font-size:12px; color:#a0a0a0; font-family:dotum;}

/*table*/
table.popupTable {border-top:3px solid #9d9d9d;width:100%; table-layout:fixed;}
table.popupTable.noline {border-top:0;}
table.popupTable th {border-bottom:1px solid #a1a1a1; background:#cbcbca url('../images/common/th_bg.gif') no-repeat right; padding:6px 2px 4px 0; font-weight:normal;}  

table.popupTable th.red {color:#bc5400; background:#ecb487 url('../images/popup/th_red.gif') no-repeat right; border-bottom:1px solid #df853b;}
table.popupTable th.red.last {color:#bc5400; background:#ecb487; border-right:1px solid #df853b;}
table.popupTable th.white {background:url('../images/popup/th_white.gif') repeat-x bottom; border:1px solid #e1e2e4; font-weight:bold; color:#9b9b9b; border-bottom:3px solid #9d9d9d ;}
table.popupTable td {border-bottom:1px solid #e1e2e4; text-align:center; padding:6px 0 4px 0; background:url('../images/common/td_bg.gif') repeat-y right;}
table.popupTable td.last {background:none; border-right:1px solid #e1e2e4; }
table.popupTable td:first-child {border-left:1px solid #e1e2e4;}

.if_txt {padding:18px 0 0 25px; background:url('../images/common/ico_arrow.gif') no-repeat 13px 20px; color:#707070; line-height:1.4em;}
.newBusiness {background:url('../images/popup/newBusiness_bg.gif') no-repeat; width:401px; height:30px; padding:6px 0 0 6px; margin:15px 0 0;}
.newBusiness input {width:117px; height:15px; padding:5px 0 0; border:1px solid #e7ae40;}
.newBusiness label {background:url('../images/popup/ico_dot.gif') no-repeat 0 2px; padding:0 0 0 9px; font-weight:bold; color:#a36b00;}

.btnCenter {margin:16px 0 0; text-align:center;}

.popupWrap .closeLayer {position:absolute; top:15px; right:14px;}

.btmBtnWrap {position:relative;}
.btmBtnWrap .paging {color:#dcdcdc;text-align:center; padding:15px 0 0;}
.btmBtnWrap .paging a {color:#707070; font-weight:bold; padding:0 2px;}
.btmBtnWrap .paging a.current {color:#ff6600;}
.btmBtnWrap .paging .prev_page {background:url('../images/common/ico_prev.gif') no-repeat 0 1px; padding-left:9px; padding-right:10px; color:#949494; font-weight:normal;}
.btmBtnWrap .paging .next_page {background:url('../images/common/ico_next.gif') no-repeat right 1px; padding-right:9px; padding-left:10px;color:#949494; font-weight:normal;}

.btmBtnWrap .leftBtn {position:absolute; left:0; top:10px;}
.btmBtnWrap .leftBtn {margin:0;}

.fastSearch {position:relative; padding:0 0 20px;}
.fastSearch dl {width:344px; border:1px solid #d1d1d1; border-bottom:0;}
.fastSearch dl dt {background:#f6f6f6; float:left; width:115px;height:20px;padding:6px 0 0;border-bottom:1px solid #d1d1d1; border-right:1px solid #d1d1d1; font-weight:bold; text-align:center;}
.fastSearch dl dd {margin-left:115px;height:21px;padding:5px 0 0 8px;border-bottom:1px solid #d1d1d1;}
.fastSearch p {position:absolute; top:0; left:355px;}

.hasDatepicker {background:url('../images/common/date_bg.gif') no-repeat; border:0; width:107px; height:18px; font-size:11px; color:#707070;}
.txtInputFast {border:1px solid #c4c4c4; padding:2px 0 1px; width:90px; text-align:center;}

.inlinebtn {display:inline-block; height:14px; border:1px solid #c4c4c4; padding:2px 10px 0; text-align:center; background:url('../images/popup/btn_inline_bg.gif') repeat-x;} 
.inlinebtn:hover , .inlinebtn.active {background:url('../images/popup/btn_inline_active.gif') repeat-x; border:1px solid #0068b7; color:#fff;}

.askMoney table {width:100%;}
.askMoney table th {border:1px solid #d1d1d1;background:#f6f6f6; }
.askMoney table td {border:1px solid #d1d1d1; padding:2px 0 0 5px;}
.askMoney table td .inputtxt {border:1px solid #c4c4c4; width:90%; padding:2px 0 1px;}
.askMoney p {text-align:center; padding:8px 0 2px;}


/* ==========================================================================
   추가 20150203_by100
========================================================================== */

.popupWrap h1 {padding:10px 0 0px 31px; border-top:7px solid #4f7eb2; border-bottom:1px solid #f3f3f3;}
.popupWrap .content_tit {background:url('../images/common/ico_con_tit.gif') no-repeat left 3px; padding-left:14px; margin-bottom:10px; font-size:14px; font-weight:bold; color:#1b1b1b;}
.popupWrap .content_tit_u40 {background:url('../images/common/ico_con_tit.gif') no-repeat left 3px; padding-left:14px; margin:40px 0 17px 0; font-size:14px; font-weight:bold; color:#1b1b1b;}

.line_box {margin:30px 30px 15px 30px; border:1px solid #e1e2e4; overflow:hidden;}
.line_box .box1 {padding:20px 20px 20px 20px; width:440px; line-height:2.0em;}
.line_box .box2 {padding:20px 20px 20px 20px; line-height:1.6em;}
.line_box .box2 .bx2txtb{font-weight:bold; color:#0377c8; line-height:1.6em; padding-bottom:10px;}

.noline_box {margin:0px 0px 0px 0px; border:0px; overflow:hidden;}

#box1_wrap {text-align:center;}
#box1_wrap .box1_confirm{width:92px; height:33px; background:url('../images/popup/btn_ok02.gif');}
#box1_wrap .box1_choice{width:92px; height:34px; background:url('../images/popup/btn_cho01.gif');}

.msr_pTbl01 {background:#ffffff; border:1px solid #e1e2e4; width:480px;}
.msr_pTbl01 th {padding:10px 10px 10px 10px; text-align:left; color:#707070; border-right:1px solid #e1e2e4; border-bottom:1px solid #e1e2e4; background:#f9f9f9;}
.msr_pTbl01 td {padding:10px 10px 10px 10px; line-height:1.6em; text-align:left; vertical-align:middle; border-right:1px solid #e1e2e4; border-bottom:1px solid #e1e2e4;}

.msr_pTbl02 {background:#ffffff; width:480px; border-right:1px solid #e1e2e4; border-left:1px solid #e1e2e4;}
.msr_pTbl02 th {padding:10px 10px 10px 10px; color:#707070; border-right:1px solid #e1e2e4; border-bottom:1px solid #e1e2e4; background:#f9f9f9;}
.msr_pTbl02 td {padding:10px 10px 10px 10px; line-height:1.4em; text-align:center; vertical-align:middle; border-right:1px solid #e1e2e4; border-bottom:1px solid #e1e2e4;}

.msr1_head {overflow:hidden; width:480px; padding-top:35px; margin-top:20px; background:url('../images/popup/msr_head.gif') no-repeat 0 0}
.scroll_msr1 {width:480px; height:190px; overflow-x:hidden; overflow-y:auto;}

#page_num_wrap {position:relative; margin:0 auto; width:440px; padding:10px 0; text-align:center; clear:both;}
.page_num {margin:0 auto;text-align:center;}
.page_num ul li {display:inline;}
.page_num ul li span {width:1px; color:#ddd; margin:0 3px 0 10px}
.page_num ul li a{font-size:11px; font-weight:bold;}
.page_num ul li a:hover, .page_num ul li a.on{color:#4696ff;}
.page_num ul li input.pre {width:16px; height:14px; background:url('../images/common/ico_pnum_pre.gif') no-repeat left 4px; color:transparent;}
.page_num ul li input.next {width:16px; height:14px; background:url('../images/common/ico_pnum_next.gif') no-repeat right 4px; color:transparent;}
.page_num ul li input.first {width:16px ;height:14px; background:url('../images/common/ico_pnum_first.gif') no-repeat left 4px; color:transparent;}
.page_num ul li input.last {width:16px; height:14px; background:url('../images/common/ico_pnum_last.gif') no-repeat right 4px; color:transparent;}

#btnWrap_r {display:block; float:right; padding:5px 0px 0 0;}
.btn_rbbtn_01 {padding:0 0 10px 5px; display: inline-block;}
.btn_rbbtn_01 a 
{float:left; padding: 12px 29px 9px 29px; font-size:11px; border:1px solid #4e7ac2; text-align:center; background:url('../images/common/btn_bg_blue.gif') repeat-x 0 0; font-weight:bold; color:#fff;
			text-shadow:0 0 1px #3f3f3f;
			border-radius: 3px;
			display: inline-block;
			}
