html{color: #494949; font-size: 14px; font-family: "Malgun Gothic", dotum, sans-serif;}
a {color:#494949;text-decoration: none}
a:visited {color:#494949;text-decoration: none}
a:hover {color:#494949;text-decoration: none}
ul,li{list-style:none;}

table tr td {vertical-align: middle;}

.defaultTbl01_02_Content tbody tr {height : 31px;}


.norm .ApplyBtn02 {
	padding: 3px 13px 3px;
	position: absolute;
	right: 0;
}

.browsing {
	font-weight: bold;
	color: #FF7F10;
	line-height: 170%;
}

.browsing:hover {
	color: #FF7F10;
	text-decoration: underline;
}

/* 첨부파일 관련 CSS */
.defaultTbl01_01 {word-break:break-all;}
.defaultTbl01_01 td.title {vertical-align:middle;
}
.defaultTbl01_01 td .dataUploadArea{margin:7px 0px 7px 0px;
}
.defaultTbl01_01 td .dataUploadArea .default_txtFileInput {
	opacity:0;
	position:absolute;
}
.defaultTbl01_01 td .dataUploadArea .ApplyBtn02 {
	z-index:-1;
	font-size: 12px;
}
	
.defaultTbl01_01 td .spliter {
	background-color:#efefef;
	width:99%;
	padding:1px;
	margin:7px 0px 7px 0px;
}

.paging{
	display:block; 
	text-align:center; 
	padding:20px 0 0;
}
body a{
	cursor:pointer;
}
.current{
	color:#ff6600;
}
.paging .prev_page {
	background:url('../../images/common/ico_prev.gif') no-repeat 0 1px; 
	padding-left:9px; 
	padding-right:10px; 
	color:#949494; 
	font-weight:normal;
}
.paging .next_page {
	background:url('../../images/common/ico_next.gif') no-repeat right 1px; 
	padding-right:9px; 
	padding-left:10px;
	color:#949494; 
	font-weight:normal;
}

/* 안내사항 */
.information_briefing{
	font-size:12px;
}

/* 담당자 정보 */
.information_briefing_comment{
	font-size:12px;
	color:#dc3603;
	margin:10px 0 0 0;
}

.ApplyBtn_Type {
    margin-right: 10px;
    padding: 9px 18px 8px;
    width: 70px;
}