@charset "utf-8";
@import url('http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb');
@import url("reset.css");
@import url("jquery-ui.css");

/* Header(Ver2.0)*/
#header2 {position:relative; top:0px; width:100%; padding-bottom:6px; background:url('../images/header/bg_header.gif') 0 0 repeat-x; z-index: 10001;}
#header2 .header_area {position:relative; width:980px; height:120px; margin:0 auto; background:url('../images/header/bg_header.gif') 0 0 repeat-x; z-index: 10001;}
#header2 .header_area h1 {position:absolute; top:54px; left:0px; z-index:10002;}

/* 내정보_마이페이지_로그인아웃 */
#header2 .header_area .top_menu {position:absolute; top:11px; right:0; color:#b5b5b5; word-spacing:-0.1em; font-family:돋움, dotum, arial; font-size:8pt; z-index:10002;}
#header2 .header_area .top_menu a {color:#d3e1f0; text-decoration:none; padding:0; margin:0; word-spacing:-0.1em; font-family:돋움, dotum, arial; font-size:8pt;}
#header2 .header_area .top_menu li {display:inline-block;*display:inline; text-align:center; font-family:돋움, dotum, arial; font-size:8pt;}
#header2 .header_area .top_menu li + li {margin-left:5px; padding-left:10px; background:url(../images/header/ico_top_bar.gif) no-repeat 0 2px; font-family:돋움, dotum, arial; font-size:8pt;}

/* 메인메뉴 */
#header2 .header_area .gnb {float:right; padding:64px 0 20px 0; display:inline-block; z-index: 10001;}
#header2 .header_area .gnb > li {position:relative; padding-left:50px; display:inline-block;}
#header2 .header_area .gnb > li > A {padding-bottom:30px; display: inline-block;}
#header2 .header_area .gnb > li > ul {display:none; position:absolute; top:41px; padding:15px 0 0; height:240px; text-align:left; z-index:10001 !important; font-family:돋움, dotum, arial; font-size:11pt;}

#header2 .header_area .gnb > .gnb_01 > ul{width:159px; left:12px; background:url(../images/header/bg_gnb01.png) no-repeat 0 0;}
#header2 .header_area .gnb > .gnb_02 > ul{width:199px; left:8px; background:url(../images/header/bg_gnb02.png) no-repeat 0 0;}
#header2 .header_area .gnb > .gnb_03 > ul{width:143px; left:12px; background:url(../images/header/bg_gnb03.png) no-repeat 0 0;}
#header2 .header_area .gnb > .gnb_04 > ul{width:201px; left:-85px; background:url(../images/header/bg_gnb04.png) no-repeat 0 0;}
#header2 .header_area .gnb > li > ul.on{display:block !important; padding-top:30px;}
#header2 .header_area .gnb > li > ul > li a.st1 {font-weight:bold; word-spacing:-0.2em; font-family:돋움, dotum, arial; font-size:11pt; color:#8d8d8d;}
#header2 .header_area .gnb > li > ul > li a.st2 {margin-top:5px; font-weight:bold; word-spacing:-0.2em; font-family:돋움, dotum, arial; font-size:11pt; color:#8d8d8d;}
#header2 .header_area .gnb > li > ul > li a.st3 {margin-left:30px; padding-left:8px; background:url(../images/header/ico_st.gif) no-repeat 0 8px; word-spacing:-0.2em; font-family:돋움, dotum, arial; font-size:11pt; color:#8d8d8d;}
#header2 .header_area .gnb > li > ul > li a {padding-left:24px; display:block; line-height:20px; font-family:돋움, dotum, arial; font-size:11pt;}
#header2 .header_area .gnb > li > ul > li a:hover,header .header_area .gnb > li > ul > li a.on{color:#0057b7;}
#header2 .header_area .gnb > li > ul > li img {position:relative;top:-2px;}
