@charset "utf-8";

/*width:320px*/

.headerWrap2 {width:100%; padding:0; margin:0; overflow:hidden; background:#ffa700 ;margin-bottom:15px;}
.headerWrap2 #header {position:relative; height:10px; margin:10 auto;}

/*searchBox*/
	
.joinTypeArea #boxWrap2 {margin:30px 0 50px 0; width:300px; position:relative; height:1130px; padding:0; border:0;}
.joinTypeArea #boxWrap2 p {position:absolute; top:0px; width:205px; height:271px; background:#fff; border:1px solid #dedede;}
.joinTypeArea #boxWrap2 p.box01{background:url('../../images/common/jointype_320_01.gif') no-repeat; left:40px;}
.joinTypeArea #boxWrap2 p.box01 span {position:absolute; margin:200px 45px;}
.joinTypeArea #boxWrap2 p.box02 {background:url('../../images/common/jointype_320_02.gif') no-repeat; left:40px; top:285px;}
.joinTypeArea #boxWrap2 p.box02 span {position:absolute; margin:200px 45px;}
.joinTypeArea #boxWrap2 p.box03 {background:url('../../images/common/jointype_320_03.gif') no-repeat; left:40px; top:570px;}
.joinTypeArea #boxWrap2 p.box03 span {position:absolute; margin:200px 45px;}
.joinTypeArea #boxWrap2 p.box04 {background:url('../../images/common/jointype_320_04.gif') no-repeat; left:40px; top:855px;}
.joinTypeArea #boxWrap2 p.box04 span {position:absolute; margin:200px 45px;}

/* member */

.stepbox2 {overflow:hidden;}
	.stepbox2 li {position:relative; width:33.3333%; float:left;}
	.stepbox2 li p {height:97px; border:1px solid #e1e2e4;}
	.stepbox2 li em {display:block; width:80px; height:53px; margin:16px 0 0 14px; background-image:url('../../images/common/joinstep_per320_off_01.gif'); background-repeat:no-repeat; text-indent:-1000em; overflow:hidden;}
	.stepbox2 .s1 em {background-position:0 0;}
	.stepbox2 .s2 em {background-position:-108px 0;}
	.stepbox2 .s3 em {background-position:-215px 0;}
	.stepbox2 .on p {background:url('../../images/common/step_join_ln.gif') repeat-x 0 100%;}
	.stepbox2 .on em {background-image:url('../../images/common/joinstep_per320_on_01.gif');}
	.stepbox2 .s2 p {border-left:0;}
	.stepbox2 .s3 p {border-left:0;}
	.stepbox2 i {display:none;}

.stepbox3 {overflow:hidden;}
	.stepbox3 li {position:relative; width:50%; float:left;}
	.stepbox3 li p {height:97px; border:1px solid #e1e2e4;}
	.stepbox3 li em {display:block; width:80px; height:53px; margin:16px 0 0 14px; background-image:url('../../images/common/joinstep_com2_480_off.gif'); background-repeat:no-repeat; text-indent:-1000em; overflow:hidden;}
	.stepbox3 .s1 em {background-position:0 0;}
	.stepbox3 .s2 em {background-position:-105px 0;}
	.stepbox3 .s3 em {background-position:-215px 0;}
	.stepbox3 .s4 em {background-position:-320px 0;}
	.stepbox3 .on p {background:url('../../images/common/step_join_ln.gif') repeat-x 0 100%;}
	.stepbox3 .on em {background-image:url('../../images/common/joinstep_com2_480_on.gif');}
	.stepbox3 .s2 p {border-left:0;}
	.stepbox3 .s3 p {margin-top:11px;}
	.stepbox3 .s4 p {margin-top:11px; border-left:0;}
	.stepbox3 i {display:none;}

.policybox2 {border:0px solid #e1e2e4;}
	.policybox2 .list {padding:12px 10px 8px; border:1px solid #e1e2e4;}
	.policybox2 .list li {display:inline-block; padding:7px 0 8px; white-space:nowrap;}
	.policybox2 .list i {margin-left:1px; font-style:normal; color:#dcdcdc; font-size:12px;}
	.policybox2 .list a {color:#b5b5b5; font-weight:bold; font-size:12px;}
	.policybox2 .list a.on {color:#ffa700;}
	.policybox2 .pcont {position:relative; height:500px; border-top:1px solid #e1e2e4;}
	.policybox2 .policy {border:0px; position:absolute; top:0; left:0; height:100%; padding:0 10px; overflow-y:hidden; overflow-x:hidden; line-height:1.9em; z-index:2;}
	.policybox2 .policy dl {margin:18px 0 22px;}
	.policybox2 .policy dt {font-weight:bold; font-size:12px;}
	.policybox2 .policy dd {font-size:12px;}
	.policybox2 .policy p {font-size:12px; margin:18px 0 20px;}

.findbox {margin-top:27px;}
	.findbox .soldBox {margin-bottom:15px;}
	.findbox .infld {padding:24px 0 13px; background:#f3f3f4;}
	.findbox .infld dl {left:700px; padding:0px 0px 0px;}
	.findbox .infld dt {position:relative; left:30px; top:20px;}
	.findbox .infld dd {margin-bottom:11px;}
	.findbox .infld dd em {position:relative; right:65px; top:30px; color:#9f9f9f; line-height:1.7em;}
	.findbox .infld dd em.emp {color:#ff0000; line-height:1.6em; word-spacing:-2px;}
	.findbox label {font-size:12px; font-weight:bold;}
	.findbox .txtInput {border:1px solid #cecece; padding:5px 5px 4px; width:150px; font-size:12px; position:relative; left:100px;}
	.findbox .notice2 {margin-top:5px; font-size:12px; line-height:1.6em;}
	.findbox .notice2 strong {color:#ff0000; font-size:12px; font-weight:bold;}
	.findbox .notice2 em {font-weight:bold; font-size:12px;}
	.findbox .special {font-size:12px; font-weight:bold; color:#ffa700; margin:25px 0px 5px;}

.bottomBoxSpace {margin-bottom:70px;}

.joinedbox .infld2 {padding:24px 0 13px; background:#f3f3f4;}
	.joinedbox .infld2 dl {position:relative; width:210px; margin:0 auto;}
	.joinedbox .infld2 dt {margin-bottom:8px;}
	.joinedbox .infld2 dd {margin-bottom:11px;}
	.joinedbox .infld2 label {font-size:12px; font-weight:bold; font-size:12px; float:left; padding-top:7px; width:56px;}
	.joinedbox .infld2 a.loginBtn {width:206px; height:24px; padding:12px 0 0;}
	.joinedbox .infld2 .txtInput {border:1px solid #cecece; padding:5px 5px 4px; width:120px; font-size:12px; margin-bottom:5px;}
	.joinedbox .infld2 .chk {clear:both; display:block; padding-left:52px;}
	.joinedbox .infld2 .chk label {float:none; font-weight:normal;}
	
	.joinedbox2 {padding:19px 14px 15px; border:1px solid #dedede; overflow:hidden;}
	.joinedbox2 .guide {margin-bottom:17px;}
	.joinedbox2 .guide p {height:63px; margin-bottom:15px; padding-bottom:12px; border-bottom:1px dotted #dedede;background:url('../../images/common/h3_member_s02_txt01.gif') no-repeat; text-indent:-1000em; overflow:hidden;}
	.joinedbox2 .infld {padding:24px 0 13px; background:#f3f3f4;}
	.joinedbox2 .infld dl {position:relative; width:210px; margin:0 auto;}
	.joinedbox2 .infld dt {margin-bottom:8px;}
	.joinedbox2 .infld dd {margin-bottom:11px;}
	.joinedbox2 label {font-size:12px; font-weight:bold; font-size:12px; float:left; padding-top:7px; width:56px;}
	.joinedbox2 a.loginBtn {width:206px; height:24px; padding:12px 0 0;}
	.joinedbox2 .txtInput {border:1px solid #cecece; padding:5px 5px 4px; width:120px; font-size:12px; margin-bottom:5px;}
	.joinedbox2 .chk {clear:both; display:block; padding-left:52px;}
	.joinedbox2 .chk label {float:none; font-weight:normal;}
	
	.erp_log_joined {margin-top:30px; border-top:1px dotted #dedede;}
	.erp_joinedbox {padding:32px 30px 32px;  border:1px solid #dedede; overflow:hidden;}
	.erp_joinedbox .guide {margin-bottom:31px;}
	.erp_joinedbox .guide p {font-size:12px; color:#ffa700; font-weight:bold;}

/*width:480px;*/
@media (min-width:480px){

	.joinTypeArea #boxWrap2 {margin:30px 0 50px 0; width:453px; position:relative; height:555px; padding:0; border:0;}
	.joinTypeArea #boxWrap2 p {position:absolute; top:-0px; width:205px; height:271px; background:#fff; border:1px solid #dedede;}
	.joinTypeArea #boxWrap2 p.box01 {background:url('../../images/common/jointype_480_01.gif') no-repeat; left:0px; top:0px;}
	.joinTypeArea #boxWrap2 p.box01 span {position:absolute; margin:200px 45px;}
	.joinTypeArea #boxWrap2 p.box02 {background:url('../../images/common/jointype_480_02.gif') no-repeat; left:246px; top:0px;}
	.joinTypeArea #boxWrap2 p.box02 span {position:absolute; margin:200px 45px;}
	.joinTypeArea #boxWrap2 p.box03 {background:url('../../images/common/jointype_480_03.gif') no-repeat; left:0px; top:280px;}
	.joinTypeArea #boxWrap2 p.box03 span {position:absolute; margin:200px 45px;}
	.joinTypeArea #boxWrap2 p.box04 {background:url('../../images/common/jointype_480_04.gif') no-repeat; left:246px; top:280px;}
	.joinTypeArea #boxWrap2 p.box04 span {position:absolute; margin:200px 45px;}

	/* member */

	.stepbox2 li {width:33.333333%; float:left;}
	.stepbox2 li p {margin-top:0 !important; border-left:0;}
	.stepbox2 li:first-child p {border-left:1px solid #e1e2e4;}

	.stepbox3 li {width:25%; float:left;}
	.stepbox3 li p {margin-top:0 !important; border-left:0;}
	.stepbox3 li:first-child p {border-left:1px solid #e1e2e4;}

	.policybox2 .list {padding:12px 20px 8px;}
	.policybox2 .policy {padding:0 20px;}
	.policyGuide .list li {display:inline-block;}
	.ie7 .policybox2 .list li {display:inline;}
	.policybox2 .pcont {height:700px;}

	.joinedbox .infld2 {padding:24px 0 13px; background:#f3f3f4;}
	.joinedbox .infld2 dl {position:relative; width:308px; margin:0 auto; height:100px;}
	.joinedbox .infld2 dt {margin-bottom:8px;}
	.joinedbox .infld2 dd {margin-bottom:11px;}
	.joinedbox .infld2 label {font-size:12px; font-weight:bold; font-size:12px; float:left; padding-top:7px; width:56px;}
	.joinedbox .infld2 a.loginBtn {width:86px; height:40px; float:right; padding:24px 0 0; position:absolute; left:240px; top:0px;}
	.joinedbox .infld2 .txtInput {border:1px solid #cecece; padding:5px 5px 4px; width:140px; font-size:12px; margin-bottom:5px;}
	.joinedbox .infld2 .chk {clear:both; display:block; padding-left:52px;}
	.joinedbox .infld2 .chk label {float:none; font-weight:normal;}
	
	.joinedbox2 {padding:32px 40px 32px;}
	.joinedbox2 .guide {margin-bottom:31px;}
	.joinedbox2 .loginlist .btn {display:inline-block;}
	.joinedbox2 .loginlist .btn  a {margin:-2px 0 -2px 11px;}
	.joinedbox2 .infld {padding:24px 0 13px; background:#f3f3f4;}
	.joinedbox2 .infld dl {position:relative; width:308px; margin:0 auto; height:100px;}
	.joinedbox2 .infld dt {margin-bottom:8px;}
	.joinedbox2 .infld dd {margin-bottom:11px;}
	.joinedbox2 label {font-size:12px; font-weight:bold; font-size:12px; float:left; padding-top:7px; width:56px;}
	.joinedbox2 a.loginBtn {width:86px; height:40px; float:right; padding:24px 0 0; position:absolute; left:240px; top:0px;}
	.joinedbox2 .txtInput {border:1px solid #cecece; padding:5px 5px 4px; width:140px; font-size:12px; margin-bottom:5px;}
	.joinedbox2 .chk {clear:both; display:block; padding-left:52px;}
	.joinedbox2 .chk label {float:none; font-weight:normal;}
	
	.erp_log_joined {margin-top:30px; border-top:1px dotted #dedede;}
	.erp_joinedbox {padding:32px 110px 32px;  border:1px solid #dedede; overflow:hidden;}
	.erp_joinedbox .guide {margin-bottom:31px;}
	.erp_joinedbox .guide p {font-size:12px; color:#ffa700; font-weight:bold;}

}

/*width:800px;*/
@media (min-width:800px){

	/*main*/

	.joinTypeArea #boxWrap2 {margin:30px 0 50px 0; width:763px; position:relative; height:555px; padding:0; border:0;}
	.joinTypeArea #boxWrap2 p {position:absolute; top:0px; width:235px; height:271px; background:#fff; border:1px solid #dedede;}
	.joinTypeArea #boxWrap2 p.box01 {background:url('../../images/common/jointype_800_01.gif') no-repeat; left:100px;}
	.joinTypeArea #boxWrap2 p.box01 span {position:absolute; margin:200px 60px;}
	.joinTypeArea #boxWrap2 p.box02 {background:url('../../images/common/jointype_800_02.gif') no-repeat; left:400px;}
	.joinTypeArea #boxWrap2 p.box02 span {position:absolute; margin:200px 60px;}
	.joinTypeArea #boxWrap2 p.box03 {background:url('../../images/common/jointype_800_03.gif') no-repeat; left:100px; top:280px;}
	.joinTypeArea #boxWrap2 p.box03 span {position:absolute; margin:200px 60px;}
	.joinTypeArea #boxWrap2 p.box04 {background:url('../../images/common/jointype_800_04.gif') no-repeat; left:400px; top:280px;}
	.joinTypeArea #boxWrap2 p.box04 span {position:absolute; margin:200px 60px;}

	/* member */

	.stepbox2 li p {height:175px;}
	.stepbox2 li em {width:190px; height:145px; margin:21px auto 0; background-image:url('../../images/common/joinstep_per800_off_01.gif');}
	.stepbox2 .s2 em {background-position:-235px 0;}
	.stepbox2 .s3 em {background-position:-470px 0;}
	.stepbox2 .on em {background-image:url('../../images/common/joinstep_per800_on_01.gif');}
	.stepbox2 i {display:block; position:absolute; top:68px; left:-20px; width:40px; height:40px; background:url('../../images/common/step_join_arr.gif') no-repeat;}

	.stepbox3 li p {height:175px;}
	.stepbox3 li em {width:137px; height:145px; margin:21px auto 0; background-image:url('../../images/common/joinstep_com2_800_off.gif');}
	.stepbox3 .s2 em {background-position:-170px 0;}
	.stepbox3 .s3 em {background-position:-348px 0;}
	.stepbox3 .s4 em {background-position:-520px 0;}
	.stepbox3 .on em {background-image:url('../../images/common/joinstep_com2_800_on.gif');}
	.stepbox3 i {display:block; position:absolute; top:68px; left:-20px; width:40px; height:40px; background:url('../../images/common/step_join_arr.gif') no-repeat;}

	.joinedbox .infld2 {float:right; width:346px;}
	.joinedbox .infld2 dd {width:230px;}
	.joinedbox .infld2 dl {width:330px;}
	
	.joinedbox2 {padding:22px 16px 23px;}
	.joinedbox2 .guide {float:left; width:330px; margin:0; padding-top:10px;}
	.joinedbox2 .infld {float:right; width:346px;}
	.joinedbox2 a.loginBtn {width:86px; height:40px; float:right; padding:24px 0 0; position:absolute; left:220px; top:0px;}

	.erp_log_joined {margin-top:30px; border-top:1px dotted #dedede;}
	.erp_joinedbox {padding:50px 200px 45px; border:1px solid #dedede; overflow:hidden;}
	.erp_joinedbox .guide {margin-bottom:17px; }
	.erp_joinedbox .guide p {font-size:14px; color:#ffa700; font-weight:bold;}
	
	.findbox .infld dd em {position:relative; left:120px; top:0px; padding-top:5px; color:#9f9f9f; line-height:1.7em;}
	.findbox .infld dd em.emp {color:#ff0000; line-height:1.6em; word-spacing:-2px;}
}

/*width:980px;*/
@media (min-width:980px){

	/*main*/
	
	.joinTypeArea #boxWrap2 {margin:30px 0 60px 0; width:980px; position:relative; height:271px;  padding:0; border:0;}
	.joinTypeArea #boxWrap2 p {position:absolute; top:0px; width:235px; height:271px; border:0px solid #dedede; margin:0;}
	.joinTypeArea #boxWrap2 p.box01 {background:url('../../images/common/jointype_980_01.gif') no-repeat; left:0px;}
	.joinTypeArea #boxWrap2 p.box01 span {position:absolute; margin:200px 60px;}
	.joinTypeArea #boxWrap2 p.box02 {background:url('../../images/common/jointype_980_02.gif') no-repeat; left:248px;}
	.joinTypeArea #boxWrap2 p.box02 span {position:absolute; margin:200px 60px;}
	.joinTypeArea #boxWrap2 p.box03 {background:url('../../images/common/jointype_980_03.gif') no-repeat; left:496px; top:0px;}
	.joinTypeArea #boxWrap2 p.box03 span {position:absolute; margin:200px 60px;}
	.joinTypeArea #boxWrap2 p.box04 {background:url('../../images/common/jointype_980_04.gif') no-repeat; left:745px; top:0px;}
	.joinTypeArea #boxWrap2 p.box04 span {position:absolute; margin:200px 60px;}

	/* member */

	.stepbox2 li p {height:175px;}
	.stepbox2 li em {position:relative; width:50%; height:148px; margin:21px auto 0; background-image:url('../../images/common/joinstep_per800_off_01.gif');}
	.stepbox2 .on em {background-image:url('../../images/common/joinstep_per800_on_01.gif');}

	.stepbox3 li p {height:175px;}
	.stepbox3 li em {width:196px; height:148px; margin:21px auto 0; background-image:url('../../images/common/joinstep_com2_800_off.gif');}
	.stepbox3 .s1 em {background-position:20px 0;}
	.stepbox3 .s2 em {background-position:-150px 0;}
	.stepbox3 .s3 em {background-position:-328px 0;}
	.stepbox3 .s4 em {background-position:-520px 0;}
	.stepbox3 .on em {background-image:url('../../images/common/joinstep_com2_800_on.gif');}

	.joinedbox .infld2 {width:450px;}
	.joinedbox .infld2 dl {width:342px;}
	.joinedbox .infld2 .txtInput {width:120px; width:160px;}
	
	.joinedbox2 {padding:43px 100px 45px;}
	.joinedbox2 .guide {width:315px;}
	.joinedbox2 .infld {width:450px;}
	.joinedbox2 .infld dl {width:342px;}
	.joinedbox2 .txtInput {width:58px; width:160px;}
	.joinedbox2 a.loginBtn {width:86px; height:40px; float:right; padding:24px 0 0; position:absolute; left:260px; top:0px;}
	
	.erp_log_joined {margin-top:30px; border-top:1px dotted #dedede;}
	.erp_joinedbox {padding:50px 350px 45px; border:1px solid #dedede; overflow:hidden;}
	.erp_joinedbox .guide {margin-bottom:17px; }
	.erp_joinedbox .guide p {font-size:14px; color:#ffa700; font-weight:bold;}

}