<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="SPSB_CRED">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/resources"/>
        <property name="context-root" value="SPSB_CRED"/>
        <property name="java-output-path" value="/SPSB_CRED/build/classes"/>
    </wb-module>
</project-modules>
