
html{color: #494949; font-size: 14px; font-family: "Malgun Gothic", dotum, sans-serif;}
a {color:#494949;text-decoration: none}
a:visited {color:#494949;text-decoration: none}
a:hover {color:#494949;text-decoration: none}
ul,li{list-style:none;}
#content h2.tit_me04_01 {background:url(../../images/common/tit_me04_01.gif) no-repeat; height:33px; text-indent:-1000em; overflow:hidden;}
#content .tit_me04_01_under {background:url(../../images/common/tit_me04_01_under.gif) no-repeat; width:371px; height:12px;text-indent:-1000em; overflow:hidden; margin:0; border:0; padding-top:10px; padding-bottom:20px;}
.defaultTbl01_01 td.title {padding:12px 0 12px 12px;}

.browsing{font-weight:bold;color:#FF7F10;line-height:150%;}

.browsing:hover {
	color: #FF7F10;
	text-decoration: underline;
}

.write_explain{width:968px;border:1px solid #D0D0D0;margin:10px 0 0 0;font-family:nanumgothic; color:#494949;font-size:11px; height:80px; overflow-y:scroll;padding:10px 0 10px 10px;}
.btmBtnWrap .multiBtn{text-align:right;}
.ApplyBtn_Type {display:inline-block; border:1px solid #bababa; width:100px; text-align:center; font-weight:bold; color:#535353; padding:7px 9px 6px 9px;
			-moz-box-shadow: 0 2px 2px #dadada;
			-webkit-box-shadow: 0 2px 2px#dadada;
			box-shadow: 0 2px 2px #dadada;
			text-shadow:0 0 2px #fff;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;margin:8px 5px 0 0;
}
.default_titleInput{padding:4px 4px; border:1px solid #c4c4c4;width:140px;}
.defaultTbl01_02 td {padding:6px 0 5px 0; text-align:center; font-size:12px; border:1px solid #e1e2e4; background:#ffffff;}

.paging{
	display:block; 
	text-align:center; 
	padding:20px 0 0;
}

.norm .ApplyBtn02 {
	padding: 3px 13px 3px;
	position: absolute;
	right: 0;
}

.ApplyBtn_Type2 {
	display:inline-block; 
	border:1px solid #bababa;
	width:130px; 
	text-align:center; 
	background:#ebebeb url('../../images/common/btm_btn_bg.gif') repeat-x; 
	font-weight:bold; 
	color:#535353; 
	padding:9px 18px 8px;
	-moz-box-shadow: 0 2px 2px #dadada;
	-webkit-box-shadow: 0 2px 2px#dadada;
	box-shadow: 0 2px 2px #dadada;
	text-shadow:0 0 2px #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.ApplyBtn_Type3 {
	display:inline-block; 
	width:130px; 
	background:url("../images/popup/btm_btn_bg02.gif") repeat-x scroll 0 1px #fc9a08;
    border: 1px solid #da8413;
    border-radius: 3px;
    box-shadow: 0 2px 2px #dadada;
    color: #fff;
    font-weight: bold;
    padding: 8px 5px;
    text-align: center;
    text-shadow: 0 0 2px #ef8206;
}
.ApplyBtn_Type3:visited{
	color: #fff;
}
.ApplyBtn_Type3:hover{
	color: #fff;
}

body a{
	cursor:pointer;
}
.current{
	color:#ff6600;
}

.paging .prev_page {
	background:url('../../images/common/ico_prev.gif') no-repeat 0 1px; 
	padding-left:9px; 
	padding-right:10px; 
	color:#949494; 
	font-weight:normal;
}
.paging .next_page {
	background:url('../../images/common/ico_next.gif') no-repeat right 1px; 
	padding-right:9px; 
	padding-left:10px;
	color:#949494; 
	font-weight:normal;
}

.default_note input[type=file]{
	width:700px;
	background-color:#ffffff;
	height:23px;
	font-size:12px;
	border: none;
	border-bottom: #B5B6B5 1px solid; 
	border-top: #B5B6B5 1px solid; 
	border-left: #B5B6B5 1px solid; 
	border-right: #B5B6B5 1px solid; 
}

/* 내부 테이블 별도 css */
.defaultTbl01 {word-break:break-all;}
.defaultTbl01 td{vertical-align:middle;}
.defaultTbl01 td.list_right{
	text-align:right;
	padding:2px 10px 2px;
}

.defaultTbl03 {word-break:break-all;}

/* 안내사항 */
.information_briefing{
	font-size:12px;
}

/* 담당자 정보 */
.information_briefing_comment{
	font-size:12px;
	color:#dc3603;
	margin:10px 0 0 0;
}

.red {
	color : red;
	font-weight:bold;
}